@import 'main';

.container {
  width: $larger;
  display: flex;
  align-items: center;

  .select {
    margin-left: 10px;
    width: $largest;
  }
}

.buttons {
  display: flex;
}

.button {
  margin: 5px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: $tracked;
}
