@import 'main';

.container {
  width: 90%;
  display: flex;
  align-items: center;

  .select {
    // TODO: when we have monitors with actions & categories, we'll have to update this CSS
    margin-left: 10px;
    width: 100%;
  }
}

.buttons {
  display: flex;
}

.button {
  margin: 5px;
  display: flex;
  align-items: center;
}
