<div class="container">
  <ng-content></ng-content>
  <mat-form-field class="select">
    <mat-select
      multiple
      placeholder="{{placeHolder || 'Options'}}"
      [formControl]="formControl"
      [(value)]="selectedOptions"
      [disableOptionCentering]="true"
      (selectionChange)="updateSelectedOptions()"
    >
      <div class="buttons">
        <button mat-button color="primary" class="button" (click)="selectAll()">
          <mat-icon>add</mat-icon>
          Select All
        </button>
        <button
          mat-button
          color="accent"
          class="button"
          (click)="clearSelectedOptions()"
        >
          <mat-icon>remove</mat-icon>
          Deselect All
        </button>
      </div>
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
