<form [formGroup]="parent" class="form">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Parameters*</mat-label>
    <mat-select
      formControlName="parameters"
      placeholder="Parameter to block on"
      ngDefaultControl
      multiple
    >
      <mat-option
        *ngFor="let parameter of availableParameters"
        [value]="parameter"
      >
        {{ parameter }}
      </mat-option>
    </mat-select>
    <mat-hint align="end"> *Required </mat-hint>
    <mat-error *ngIf="parent.get('parameters').hasError('required')">
      {{ validationMessages['parameters']['required'] }}
    </mat-error>
  </mat-form-field>

  <mat-slide-toggle class="form-field" formControlName="permanently">
    Block Permanently
  </mat-slide-toggle>

  <div class="form-field block-duration">
    <mat-form-field appearance="outline">
      <mat-label>Block Duration</mat-label>
      <input
        matInput
        placeholder="Block Duration"
        formControlName="blockTime"
      />
      <mat-hint *ngIf="!parent.get('permanently').value" align="end">
        *Required
      </mat-hint>
      <mat-error *ngIf="parent.get('blockTime').hasError('required')">
        {{ validationMessages['blockTime']['required'] }}
      </mat-error>
    </mat-form-field>

    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      formControlName="blockTimeUnit"
      class="toggle-group"
    >
      <mat-button-toggle
        *ngFor="let unit of units['duration']"
        value="{{ unit }}"
        [disabled]="parent.get('permanently').value"
      >
        <span class="capitalize">{{ unit | lowercase }}</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="form-field block-delay">
    <mat-form-field appearance="outline">
      <mat-label>Block Delay</mat-label>
      <input matInput placeholder="Block Delay" formControlName="blockDelay" />
    </mat-form-field>

    <mat-button-toggle-group
      class="toggle-group"
      #group="matButtonToggleGroup"
      formControlName="blockDelayUnit"
    >
      <mat-button-toggle
        *ngFor="let unit of units['delay']"
        value="{{ unit }}"
        [disabled]="parent.get('permanently').value"
      >
        <span class="capitalize">{{ unit | lowercase }}</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</form>
