@import 'main';

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: $space-4;
}

.block-duration,
.block-delay {
  display: flex;
  align-items: baseline;
}

.toggle-group {
  margin-left: $space-3;
}
