<form [formGroup]="parent" class="form">
  <div class="form-field block-delay">
    <mat-form-field appearance="outline">
      <mat-label>Block Delay</mat-label>
      <input matInput placeholder="Block Delay" formControlName="blockDelay" />
    </mat-form-field>

    <mat-button-toggle-group
      class="toggle-group"
      #group="matButtonToggleGroup"
      formControlName="blockDelayUnit"
    >
      <mat-button-toggle
        *ngFor="let unit of units['delay']"
        value="{{ unit }}"
        [disabled]="parent.get('permanently').value"
      >
        <span class="capitalize">{{ unit | lowercase }}</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</form>
