@import 'main';

.block {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.duration {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 20px 0;
}

.permanently {
  margin: 20px 0;
}

.unit {
  text-transform: capitalize;
}

.block-values {
  display: flex;
  align-items: baseline;
}

.block-values-input {
  margin-right: 20px;
}
