<div class="action">
  <div>
    <hydro-list-item-title>
      {{ action.name }}
    </hydro-list-item-title>
    <hydro-list-item-subtitle>
      {{ action.description }}
    </hydro-list-item-subtitle>
  </div>
  <span class="action-type"> {{ names[action.actionType] }} Action </span>

  <div class="menu">
    <button mat-stroked-button [matMenuTriggerFor]="menu" color="primary">
      <span>
        Menu
      </span>
    </button>

    <mat-menu #menu="matMenu">
      <div>
        <a
          mat-menu-item
          *ngIf="allowsEdit"
          routerLink="/actions/{{ action.id }}/edit"
        >
          <mat-icon>edit</mat-icon>
          <span>
            Edit Action
          </span>
        </a>

        <button
          mat-menu-item
          *ngIf="allowsEdit"
          (click)="onArchiveAction(action.id)"
        >
          <mat-icon>archive</mat-icon>
          <span>
            Archive Action
          </span>
        </button>
      </div>
    </mat-menu>
  </div>
</div>
