<div class="action">
  <div class="header">
    <hydro-list-item-title>
      {{ action.name }}
    </hydro-list-item-title>
    <hydro-list-item-subtitle>
      {{ action.description }}
    </hydro-list-item-subtitle>
  </div>

  <hydro-tag color="primary"> {{ names[action.actionType] }} Action </hydro-tag>

  <button mat-stroked-button (click)="showProperties = !showProperties">
    {{ showProperties ? 'Hide' : 'Show' }} Properties
  </button>

  <div *ngIf="isAdmin" class="menu">
    <button mat-stroked-button [matMenuTriggerFor]="menu" color="primary">
      <span>
        Menu
      </span>
    </button>

    <mat-menu #menu="matMenu">
      <div>
        <a mat-menu-item routerLink="/actions/{{ action.id }}/edit">
          <mat-icon>edit</mat-icon>
          <span>
            Edit Action
          </span>
        </a>

        <button mat-menu-item (click)="onArchiveAction(action.id)">
          <mat-icon>archive</mat-icon>
          <span>
            Archive Action
          </span>
        </button>
      </div>
    </mat-menu>
  </div>
</div>

<div class="properties" [ngClass]="{ 'show-properties': showProperties }">
  <h3>Properties</h3>
</div>
