@import 'main';

.action {
  display: flex;
  align-items: center;
}

.action-name {
  font-size: $fs-3;
  font-weight: $fw-5;
  line-height: $lh-title;
}

.action-description {
  font-size: $fs-3;
  font-weight: $fw-4;
  line-height: $lh-copy;
  color: $grey-6;
}

.action-type {
  margin: 0 $space-4 0 auto;
  padding: $space-1 $space-2;
  color: $primary-darker;
  background-color: $primary-lighter;
}

.menu {
  margin-right: $space-4;
}
