@import 'main';

.container {
}

.action {
  display: flex;
  align-items: center;
}

.header {
  flex: 1;
}

.menu {
  margin: 0 $space-4;
}

.properties {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: 300ms all ease-in-out;
  padding: 0 $space-4;
}

.show-properties {
  visibility: visible;
  max-height: 500px;
  opacity: 1;
  transition: 300ms all ease-in-out;
  padding: $space-4;
}
