@import 'main';

.action {
  display: flex;
  align-items: center;
}

.action-type {
  margin: 0 $space-4 0 auto;
  padding: $space-1 $space-2;
  color: $primary-darker;
  background-color: $primary-lighter;
}

.menu {
  margin-right: $space-4;
}
