<div class="w-60 pa4 mv5 ml-auto mr-auto">
  <div class="mb4">
    <app-heading>Actions</app-heading>
  </div>
  <div class="flex items-center w-100 mb4 justify-between">
    <mat-form-field class="w-20">
      <mat-label>Filter Action Types</mat-label>
      <mat-select
        [(value)]="selectedActionType"
        (selectionChange)="filterActions()"
      >
        <mat-option>All Action Types</mat-option>
        <mat-option value="block">Block</mat-option>
        <mat-option value="emailAlert">Email Alert</mat-option>
        <mat-option value="emailRate">Email Rate</mat-option>
        <mat-option value="emailBatch">Email Batch</mat-option>
      </mat-select>
    </mat-form-field>

    <app-search-input
      [(searchTerm)]="searchTerm"
      [placeHolder]="'Search Actions'"
      (searchTermChange)="filterActions()"
      class="w-40"
    ></app-search-input>

    <app-accent-button
      mat-flat-button
      (click)="router.navigateByUrl('/actions/add')"
      [icon]="'add'"
    >
      New Action
    </app-accent-button>
  </div>

  <mat-list class="bg-white shadow-4 bt bw1 b--primary ">
    <cdk-virtual-scroll-viewport itemSize="72" class="h7">
      <ng-container *cdkVirtualFor="let action of filteredActions">
        <mat-list-item class="flex items-center ma3">
          <div>
            <h1 matLine class="f5 fw5 lh-title">
              {{ action.name }}
            </h1>
            <p matLine class="f6 fw4 lh-copy silver">
              {{ action.description }}
            </p>
          </div>
          <span class="ml-auto mr4 pv1 ph2 primary bg-primary-lighter br1">
            {{ actionTypeDisplayNames[action.actionType] }} Action
          </span>

          <div class="mr4">
            <button
              mat-stroked-button
              [matMenuTriggerFor]="menu"
              color="primary"
            >
              <span>
                Menu
              </span>
            </button>

            <mat-menu #menu="matMenu">
              <div class="menu">
                <a mat-menu-item routerLink="/actions/{{ action.id }}/edit">
                  <mat-icon class="icon">edit</mat-icon>
                  <span>
                    Edit Action
                  </span>
                </a>

                <button *ngIf="!isArchived" mat-menu-item>
                  <mat-icon class="icon">archive</mat-icon>
                  <span>
                    Archive Action
                  </span>
                </button>
              </div>
            </mat-menu>
          </div>
        </mat-list-item>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </mat-list>
</div>
