@import 'main';

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: $space-4;
}

.filter {
  width: 20%;
}

.search {
  width: 40%;
}

.scroll-viewport {
  height: 800px;
}

.action-list-item {
  width: 100%;
}
