@import 'theming';

$white: #ffffff;
$near-white: #fafafa;
$off-white: #f1f1f1;
$light-grey: #e0e0e0;
$mid-grey: #c1c1c1;
$grey: #888888;
$dark-grey: #666666;
$darker-grey: #333333;
$near-black: #111111;
$black: #000000;

$red: mat-color($hydro-app-warn);
$washed-red: #feecea;
$orange: #ffdc00;
$yellow: mat-color(mat-palette($mat-amber, 500));
$green: mat-color(mat-palette($mat-green, 500));
$aqua: #39cccc;

// material theme
$primary: mat-color($hydro-app-primary);
$accent: mat-color($hydro-app-accent);
$warn: mat-color($hydro-app-warn);
