@import 'theming';

// Greys
$grey-0: mat-color(mat-palette($mat-gray, 50));
$grey-1: mat-color(mat-palette($mat-gray, 100));
$grey-2: mat-color(mat-palette($mat-gray, 200));
$grey-3: mat-color(mat-palette($mat-gray, 300));
$grey-4: mat-color(mat-palette($mat-gray, 400));
$grey-5: mat-color(mat-palette($mat-gray, 500));
$grey-6: mat-color(mat-palette($mat-gray, 600));
$grey-7: mat-color(mat-palette($mat-gray, 700));
$grey-8: mat-color(mat-palette($mat-gray, 800));
$grey-9: mat-color(mat-palette($mat-gray, 900));

$white: #fff;
$black: $grey-9;

// Primary
$primary: mat-color($hydro-app-primary, default);
$primary-lighter: mat-color($hydro-app-primary, lighter);
$primary-darker: mat-color($hydro-app-primary, darker);

// Accents
$accent: mat-color($hydro-app-accent, default);
$accent-lighter: mat-color($hydro-app-accent, lighter);
$accent-darker: mat-color($hydro-app-accent, darker);

$accent-warn: mat-color($hydro-app-warn, default);
$accent-warn-lighter: mat-color($hydro-app-warn, lighter);
$accent-warn-darker: mat-color($hydro-app-warn, darker);

$accent-red: mat-color(mat-palette($mat-red, 500));
$accent-orange: mat-color(mat-palette($mat-orange, 500));
$accent-yellow: mat-color(mat-palette($mat-amber, 500));
$accent-green: mat-color(mat-palette($mat-green, 500));
$accent-cyan: mat-color(mat-palette($mat-cyan, 500));
