// This is lifted wholesale from Github's primer
// https://primer.style/css/support/breakpoints
//
// Except that it takes a desktop first approach as we don't really have to
// support mobile.

// breakpoints
$width-sm: 768px;
$width-md: 1024px;
$width-lg: 1440px;
$width-xl: 1600px;

$breakpoints: (
  sm: $width-sm,
  md: $width-md,
  lg: $width-lg,
  xl: $width-xl,
) !default;

// https://github.com/primer/css/blob/master/src/support/mixins/layout.scss#L3
@mixin breakpoint($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  // Prints a media query based on the value
  @media (max-width: $value) {
    @content;
  }
}

// Example use
//
// .styles {
//   font-size: 28px;
//   @include breakpoint(md) { font-size: 32px; }
// }
