/* Height Scale */

/* Height Scale */

.h1 {
  height: 1rem;
}

.h2 {
  height: 2rem;
}

.h3 {
  height: 4rem;
}

.h4 {
  height: 8rem;
}

.h5 {
  height: 16rem;
}

.h6 {
  height: 24rem;
}

.h7 {
  height: 32rem;
}

.h8 {
  height: 48rem;
}

.h9 {
  height: 64rem;
}

/* Width Scale */

.w1 {
  width: 1rem;
}

.w2 {
  width: 2rem;
}

.w3 {
  width: 4rem;
}

.w4 {
  width: 8rem;
}

.w5 {
  width: 16rem;
}

.w6 {
  width: 24rem;
}

.w7 {
  width: 32rem;
}

.w8 {
  width: 40rem;
}

.w9 {
  width: 48rem;
}
