$space-tokens: 4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 96, 112;

$space-1: nth($space-tokens, 1) + px;
$space-2: nth($space-tokens, 2) + px;
$space-3: nth($space-tokens, 3) + px;
$space-4: nth($space-tokens, 4) + px;
$space-5: nth($space-tokens, 5) + px;
$space-6: nth($space-tokens, 6) + px;
$space-7: nth($space-tokens, 7) + px;
$space-8: nth($space-tokens, 8) + px;
$space-9: nth($space-tokens, 9) + px;
$space-10: nth($space-tokens, 10) + px;
$space-11: nth($space-tokens, 11) + px;
$space-12: nth($space-tokens, 12) + px;

@function space($step) {
  @return nth($space-tokens, $step) + px;
}
