// Font Sizes
$font-sizes: 12, 14, 16, 20, 24, 32, 40, 48;

@function font-size($scale) {
  @return nth($font-sizes, $scale) + px;
}

// Font Weight
$fw-normal: normal;
$fw-bold: bold;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;

// Line Height
$lh-solid: 1;
$lh-title: 1.25;
$lh-copy: 1.5;

// Letter Spacings
$ls-normal: normal;
$ls-tracked: 0.1em;
$ls-tight: -0.05em;
$ls-mega: 0.25em;

/*
Mixins
*/
@mixin h1 {
  font-size: font-size(6);
  font-weight: $fw-normal;
  line-height: $lh-title;
}

@mixin subtitle {
  font-size: font-size(3);
  font-weight: $fw-normal;
  color: $grey-5;
  line-height: $lh-copy;
}
