// Font Size
$fs-s: 0.875rem;
$fs-m: 1rem;
$fs-l: 1.25rem;
$fs-xl: 1.5rem;
$fs-2xl: 2.25rem;
$fs-3xl: 3rem;
$fs-subheadline: 5rem;
$fs-headline: 6rem;

// Font Weight
$fw-normal: normal;
$fw-bold: bold;
$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;

// Line Height
$lh-solid: 1;
$lh-title: 1.25;
$lh-copy: 1.5;
