@import '@angular/material/theming';
@include mat-core();

// colours
$white: #ffffff;
$near-white: #fafafa;
$off-white: #f1f1f1;
$light-grey: #e0e0e0;
$mid-grey: #c1c1c1;
$grey: #888888;
$dark-grey: #666666;
$darker-grey: #333333;
$black: #000000;
$red: #f44336;
$washed-red: #feecea;
$orange: #ff851b;
$yellow: #ffdc00;
$green: #2ecc40;
$aqua: #39cccc;
// material theme
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

// box-shadow
$box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14),
  0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);

// letter-spacing
$tracked: 0.1em;

// percentage sizes
$largest: 100%;
$larger: 90%;
$large: 75%;
$half: 50%;
$small: 20%;

// transitions
$transition-in-out: all 300ms ease-in-out;
$slower-transition-in-out: all 500ms ease-in-out;
