<form [formGroup]="createActionForm" (ngSubmit)="submit()">
  <hydro-create-action-name
    [parent]="createActionForm"
  ></hydro-create-action-name>

  <hydro-create-action-description
    [parent]="createActionForm"
  ></hydro-create-action-description>

  <div class="form-field action-type">
    <mat-form-field appearance="outline">
      <mat-label>Action Type</mat-label>
      <mat-select placeholder="Action Type" formControlName="actionType">
        <mat-option
          *ngFor="let actionType of availableActionTypes"
          [value]="actionType"
        >
          {{ actionTypeDisplayName[actionType] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p class="action-type-explanation">
      {{ actionTypeExplanation[createActionForm.get('actionType').value] }}
    </p>
  </div>

  <hydro-create-action-form-section-block
    *ngIf="createActionForm.get('actionType').value === 'block'"
    [parent]="blockDataForm"
    [availableParameters]="availableParameters"
    [validationMessages]="validationMessages"
    [units]="blockActionUnits"
  ></hydro-create-action-form-section-block>

  <hydro-create-action-form-section-email
    *ngIf="(createActionForm.get('actionType').value || '').startsWith('email')"
    class="form-field"
    [parent]="emailDataForm"
    [availableParameters]="availableParameters"
    [validationMessages]="validationMessages"
    [actionType]="createActionForm.get('actionType').value"
    (addEmailAddress)="addEmailAddress()"
    (removeEmailAddress)="removeEmailAddress($event)"
    (editorContentChange)="emailEditorContentChange($event)"
  ></hydro-create-action-form-section-email>

  <div class="buttons">
    <hydro-button-raised
      color="accent"
      [type]="submit"
      [disabled]="disableSubmit"
    >
      Save Action
    </hydro-button-raised>
  </div>
</form>
