<form [formGroup]="createActionForm" (ngSubmit)="submit()">
  <hydro-create-action-name
    [parent]="createActionForm"
  ></hydro-create-action-name>

  <hydro-create-action-description
    [parent]="createActionForm"
  ></hydro-create-action-description>

  <hydro-create-action-type
    [parent]="createActionForm"
  ></hydro-create-action-type>

  <div *ngIf="isActionType('block')">
    <hydro-create-action-parameters
      [parent]="blockForm"
    ></hydro-create-action-parameters>
    <hydro-create-action-block-permanently
      [parent]="blockForm"
    ></hydro-create-action-block-permanently>
    <hydro-create-action-block-duration
      [parent]="blockForm"
    ></hydro-create-action-block-duration>
    <hydro-create-action-block-delay
      [parent]="blockForm"
    ></hydro-create-action-block-delay>
  </div>

  <div *ngIf="isActionType('emailRate')">
    <hydro-create-action-email-addresses
      [parent]="emailRateForm"
      (addEmailAddress)="addEmailAddress($event)"
      (removeEmailAddress)="removeEmailAddress($event)"
    ></hydro-create-action-email-addresses>
    <hydro-create-action-email-subject
      [parent]="emailRateForm"
    ></hydro-create-action-email-subject>
    <hydro-create-action-email-send-limit
      [parent]="emailRateForm"
    ></hydro-create-action-email-send-limit>
  </div>

  <hydro-create-action-form-section-email
    *ngIf="(createActionForm.get('actionType').value || '').startsWith('email')"
    class="form-field"
    [parent]="emailDataForm"
    [validationMessages]="validationMessages"
    [actionType]="createActionForm.get('actionType').value"
    (editorContentChange)="emailEditorContentChange($event)"
  ></hydro-create-action-form-section-email>

  <div class="buttons">
    <hydro-button-raised
      color="accent"
      [type]="submit"
      [disabled]="disableSubmit"
    >
      Save Action
    </hydro-button-raised>
  </div>
</form>
