@import 'main';

.form-field {
  width: 100%;
  margin-bottom: major-scale(3);
}

.buttons {
  margin-top: major-scale(2);
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: major-scale(2);
}
