@import 'main';

.container {
  display: flex;
  align-items: center;
}

.icon {
  // without this the height gets bumped up
  // by 3px for being a wrapper arounf mat-icon
  height: 24px;
}

.header {
  font-size: $fs-m;
  font-weight: $fw-5;
  margin-left: $spacing-s;
}
