@import 'main';

.container {
  display: flex;
  align-items: center;
}

.icon {
  // without this the height gets bumped up
  // by 3px for being a wrapper around mat-icon
  height: 24px;
}

.header {
  font-size: $fs-3;
  font-weight: $fw-5;
  margin-left: major-scale(1);
}
