@import 'main';

.container {
  display: flex;
  align-items: center;
  height: 80px;
}

.monitor {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header {
  width: 40ch;
}

.name {
  display: flex;
  align-items: center;
}

.status {
  font-size: font-size(5);
  margin: 0 0 major-scale(1) major-scale(1);
}

.online {
  color: $accent-green;
}

.offline {
  color: $accent-red;
}

.archived {
  color: gray(4);
}

.categories {
  display: flex;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  margin-left: major-scale(2);
}

.view-monitor {
  margin: 0 major-scale(2);
}

.buttons {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.epl-query-tooltip {
  // I had to put this in styles.scss for it to take effect
  // https://github.com/angular/material2/issues/3927
}

.menu {
  margin-left: major-scale(4);
}
