<div class="container">
  <div class="monitor">
    <div class="header">
      <div class="name">
        <hydro-list-item-title>
          {{ monitor.name }}
        </hydro-list-item-title>
      </div>

      <hydro-list-item-subtitle>
        {{ monitor.description }}
      </hydro-list-item-subtitle>
    </div>

    <button
      mat-stroked-button
      color="primary"
      (click)="viewMonitor()"
      class="view-monitor"
    >
      View Monitor
    </button>
    <button
      mat-stroked-button
      matTooltip="{{ monitor.query }}"
      color="primary"
      [matTooltipPosition]="'below'"
      [matTooltipClass]="'epl-query-tooltip'"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
      (click)="copyToClipboard()"
    >
      {{ eplQueryButtonText }} EPL Query
    </button>
  </div>

  <div class="categories">
    <hydro-tag *ngFor="let category of monitor.categories" color="primary">
      {{ category.name }}
    </hydro-tag>
  </div>

  <div class="buttons">
    <hydro-view-monitors-list-item-menu
      *ngIf="allowsEnable"
      class="menu"
      [monitor]="monitor"
    ></hydro-view-monitors-list-item-menu>
  </div>
</div>
