@import 'main';

.email-text {
  margin-bottom: major-scale(2);
}

.email-text-title {
  color: $grey-9;
  margin-bottom: major-scale(1);
  font-size: font-size(4);
  font-weight: $fw-4;
}

.email-text-explanation {
  margin-bottom: major-scale(1);
}

.email-text-error {
  margin-bottom: major-scale(1);
  margin-left: major-scale(1);
  font-size: font-size(2);
}

.code {
  font-family: Consolas, monaco, monospace;
}

.email-editor {
  height: 400px;
  margin-bottom: major-scale(3);
}
