.toolbar {
  position: fixed;
  z-index: 899;
  margin-top: 64px;
  height: 60px;
  background: #fcfcfc;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14),
    0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);

  .title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-left: 20px;
  }

  .new-monitor {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    margin: 0 20px 0 auto;
  }
}
