<mat-toolbar color="primary" class="nav-toolbar">
  <mat-toolbar-row>

    <a mat-button routerLink="/" href="/">
      <img class="logo" [src]="logo" alt="logo">
    </a>

    <span class="nav-spacer"></span>

    <span class="page-nav" *ngIf="isAuthenticated">
      <a mat-button routerLink="/monitors">
        Monitors
      </a>
      <a mat-button routerLink="/search">
        Search
      </a>
      <a mat-button (click)="logOut()">
        Log Out {{authService.username}}
      </a>
    </span>

  </mat-toolbar-row>
</mat-toolbar>
