<form [formGroup]="createActionForm" (ngSubmit)="submit()">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Name*</mat-label>
    <input matInput formControlName="name" />
    <mat-hint align="end"> *Required </mat-hint>
    <mat-error *ngIf="createActionForm.get('name').hasError('required')">
      {{ validationMessages['name']['required'] }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Description*</mat-label>
    <textarea
      matInput
      placeholder="Description"
      rows="3"
      cols="100"
      matTextareaAutosize
      matAutosizeMinRows="3"
      matAutosizeMaxRows="3"
      formControlName="description"
    ></textarea>
    <mat-hint align="end"> *Required </mat-hint>
    <mat-error *ngIf="createActionForm.get('description').hasError('required')">
      {{ validationMessages['description']['required'] }}
    </mat-error>
  </mat-form-field>

  <div class="form-field action-type">
    <mat-form-field appearance="outline">
      <mat-label>Action Type</mat-label>
      <mat-select placeholder="Action Type" formControlName="actionType">
        <mat-option
          *ngFor="let actionType of availableActionTypes"
          [value]="actionType"
        >
          {{ actionTypeDisplayName[actionType] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p class="ml4 pb3 dark-gray">
      {{ actionTypeExplanation[createActionForm.get('actionType').value] }}
    </p>
  </div>

  <app-create-action-form-section-block
    *ngIf="createActionForm.get('actionType').value === 'block'"
    [parent]="blockDataForm"
    [availableParameters]="availableParameters"
    [validationMessages]="validationMessages"
    [units]="blockActionUnits"
  ></app-create-action-form-section-block>

  <app-create-action-form-section-email
    *ngIf="(createActionForm.get('actionType').value || '').startsWith('email')"
    class="form-field"
    [parent]="emailDataForm"
    [availableParameters]="availableParameters"
    [validationMessages]="validationMessages"
    [actionType]="createActionForm.get('actionType').value"
    (addEmailAddress)="addEmailAddress()"
    (removeEmailAddress)="removeEmailAddress($event)"
    (editorContentChange)="emailEditorContentChange($event)"
  ></app-create-action-form-section-email>

  <div class="buttons">
    <hydro-button-raised
      color="accent"
      [type]="submit"
      [disabled]="disableSubmit"
    >
      Save Action
    </hydro-button-raised>
  </div>
</form>
