@import 'main';

.form-field {
  width: 100%;
  margin-bottom: $space-4;
}

.action-type {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.action-type-explanation {
  margin-left: $space-4;
  color: $grey-8;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
