<div class="form">
  <h2 class="title">{{ title }}</h2>

  <h4>{{ this.createActionForm.get('name').value }}</h4>
  <h4>{{ this.createActionForm.get('blockData').value | json }}</h4>

  <form [formGroup]="createActionForm">
    <section class="description">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Description"
          rows="3"
          cols="100"
          matTextareaAutosize
          matAutosizeMinRows="3"
          matAutosizeMaxRows="3"
          formControlName="description"
        ></textarea>
      </mat-form-field>
    </section>

    <section>
      <mat-button-toggle-group
        #group="matButtonToggleGroup"
        formControlName="type"
      >
        <mat-button-toggle value="block" [checked]="true">
          <mat-icon>block</mat-icon>
          <span class="title">block</span>
        </mat-button-toggle>
        <mat-button-toggle value="email">
          <mat-icon>mail_outline</mat-icon>
          <span class="title">email</span>
        </mat-button-toggle>
        <mat-button-toggle value="other">
          <mat-icon>graphic_eq</mat-icon>
          <span class="title">other</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <section *ngIf="group.value === 'block'">
      <app-create-action-form-section-block
        (nameChange)="onNameChange($event)"
        (durationChange)="onDurationChange($event)"
        (delayChange)="onDelayChange($event)"
        [parent]="blockDataForm"
      ></app-create-action-form-section-block>
    </section>
    <section *ngIf="group.value === 'email'">
      <app-create-action-form-section-email></app-create-action-form-section-email>
    </section>
    <section *ngIf="group.value === 'other'">
      <app-create-action-form-section-other></app-create-action-form-section-other>
    </section>
  </form>
</div>
