@import 'main';

.container {
  margin: $spacing-xl auto;
  padding: $spacing-l;
  width: 800px;
}

.heading,
.action-name {
  margin-bottom: $spacing-l;
}

.label {
  font-weight: $fw-5;
}

.no-name {
  color: $grey-5;
}

.description {
  width: 100%;
  margin-bottom: $spacing-m;

  .mat-form-field {
    width: 100%;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: $spacing-l;
}
