<div class="w9 ml-auto mr-auto mv4 pt4">
  <div class="mb5">
    <app-heading>{{ title }}</app-heading>
  </div>

  <form [formGroup]="createActionForm" (ngSubmit)="submit()">
    <div class="mb3 w-100">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name*</mat-label>
        <input matInput formControlName="name" />
        <mat-hint align="end"> *Required </mat-hint>
        <mat-error *ngIf="createActionForm.get('name').hasError('required')">
          {{ validationMessages['name']['required'] }}
        </mat-error>
      </mat-form-field>
    </div>
    <section class="w-100 mb3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Description*</mat-label>
        <textarea
          matInput
          placeholder="Description"
          rows="3"
          cols="100"
          matTextareaAutosize
          matAutosizeMinRows="3"
          matAutosizeMaxRows="3"
          formControlName="description"
        ></textarea>
        <mat-hint align="end"> *Required </mat-hint>
        <mat-error
          *ngIf="createActionForm.get('description').hasError('required')"
        >
          {{ validationMessages['description']['required'] }}
        </mat-error>
      </mat-form-field>
    </section>

    <section class="mb5">
      <div class="flex items-center justify-between mb4">
        <mat-form-field appearance="outline">
          <mat-label>Action Type</mat-label>
          <mat-select placeholder="Action Type" formControlName="actionType">
            <mat-option
              *ngFor="let actionType of availableActionTypes"
              [value]="actionType"
            >
              <span class="ttc">
                {{ actionTypeDisplayName[actionType] }}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p class="ml4 pb3 dark-gray">
          {{ actionTypeExplanation[createActionForm.get('actionType').value] }}
        </p>
      </div>
    </section>

    <section *ngIf="createActionForm.get('actionType').value === 'block'">
      <app-create-action-form-section-block
        [parent]="blockDataForm"
        [availableParameters]="availableParameters"
        [validationMessages]="validationMessages"
        [units]="blockActionUnits"
      ></app-create-action-form-section-block>
    </section>

    <section
      *ngIf="
        (createActionForm.get('actionType').value || '').startsWith('email')
      "
      class="mb4"
    >
      <app-create-action-form-section-email
        [parent]="emailDataForm"
        [availableParameters]="availableParameters"
        [validationMessages]="validationMessages"
        [actionType]="createActionForm.get('actionType').value"
        (addEmailAddress)="addEmailAddress()"
        (removeEmailAddress)="removeEmailAddress($event)"
        (editorContentChange)="emailEditorContentChange($event)"
      ></app-create-action-form-section-email>
    </section>

    <!-- <section>
      <app-create-action-form-section-other></app-create-action-form-section-other>
    </section> -->
    <div class="flex justify-end">
      <app-accent-submit-button [disabled]="disableSubmit">
        Save Action
      </app-accent-submit-button>
    </div>
  </form>
</div>
