@import 'main';

.email-addresses {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field {
  margin-bottom: major-scale(2);
}

.add-email-address {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: major-scale(3);
}
