<div class="header">
  <div class="name">
    <mat-icon class="icon">flash_on</mat-icon>
    <h2 class="title">standard monitors</h2>
  </div>

  <div class="link">
    <a mat-button class="title" color="primary" routerLink="/monitors/archived">
      <mat-icon class="icon">archive</mat-icon>
      <span>archived monitors</span>
    </a>
  </div>

  <div class="link">
    <a mat-button class="title" color="primary" routerLink="/monitors/system">
      <mat-icon class="icon">tune</mat-icon>
      <span>system monitors</span>
    </a>
  </div>
</div>

<app-overview-table
  *ngIf="standardMonitors.length; else: noMonitors"
  [monitors]="standardMonitors"
  [allCurrentActions]="allCurrentActions"
  [allCurrentCategories]="allCurrentCategories"
></app-overview-table>
<ng-template #noMonitors>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
