@import 'main';

.toolbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: $space-4;
}

.search {
  width: 30%;

  @include breakpoint(xl) {
    width: 40%;
  }
}

.scroll-viewport {
  height: 700px;

  @include breakpoint(xl) {
    height: 450px;
  }
}

.add-monitor {
  margin-left: $space-5;
}

.monitor-details {
  width: 100%;
}
