<mat-horizontal-stepper [linear]="isLinear" #stepper class="stepper">
  <mat-step [stepControl]="fromDefinition">
    <ng-template matStepLabel>Definition</ng-template>
    <app-monitor-definition-formgroup
      [stepper]="stepper"
    ></app-monitor-definition-formgroup>
  </mat-step>
  <mat-step [stepControl]="categoriesFormGroup">
    <ng-template matStepLabel>Categories</ng-template>
    <app-monitor-categories-formgroup
      [stepper]="stepper"
    ></app-monitor-categories-formgroup>
  </mat-step>
  <mat-step [stepControl]="eplFormGroup">
    <form [formGroup]="eplFormGroup">
      <ng-template matStepLabel>EPL Query</ng-template>
      <mat-form-field>
        <textarea
          matInput
          placeholder="EPL Query"
          formControlName="eplQuery"
        ></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="actionsFormGroup">
    <form [formGroup]="actionsFormGroup">
      <ng-template matStepLabel>Actions</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="groupsFormGroup">
    <form [formGroup]="groupsFormGroup">
      <ng-template matStepLabel>Groups</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
