@import 'main';

.status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
}

.label {
  margin-bottom: 20px;
  color: $dark-grey;
}

.offline {
  margin-right: 10px;
}
