@import 'main';

.categories {
  list-style-type: none;
  color: $dark-grey;
  line-height: 1.3;
  display: flex;

  .category {
    margin: 2px;
    padding: 2px 4px;
    background: $light-grey;
    border: 1px solid $light-grey;
    border-radius: 3px;
  }
}
