.search-card {
  width: 25%;
  margin: 50px auto;
}

.search-card > * {
  width: 100%;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.mat-card > .mat-card-actions:last-child {
  text-align: right;
  padding-bottom: 20px;
}
