@import 'main';

.page {
  width: 40%;
  margin: 0 auto;
  padding: major-scale(3) major-scale(6);

  @include breakpoint(xl) {
    width: 60%;
    padding: major-scale(4);
  }

  @include breakpoint(md) {
    width: 80%;
    padding: major-scale(5);
  }
}
