@import 'main';

.page {
  width: 50%;
  margin: 0 auto;
  padding: $space-4 $space-7;

  @include breakpoint(xl) {
    width: 60%;
    padding: $space-5;
  }

  @include breakpoint(md) {
    width: 80%;
    padding: $space-6;
  }
}
