<div class="menu">
  <!--
    <a mat-raised-button routerLink="/monitors/add" color="accent" class="create">
      <mat-icon class="icon">add</mat-icon>
      <span>new monitor</span>
    </a>
  -->
  <a
    *ngIf="!isArchived"
    mat-icon-button
    matTooltip="Edit"
    [matTooltipShowDelay]="showDelay"
    routerLink="/monitors/{{id}}/edit"
  >
    <mat-icon color="accent">edit</mat-icon>
  </a>
  <a
    mat-icon-button
    matTooltip="Duplicate"
    [matTooltipShowDelay]="showDelay"
    routerLink="/monitors/{{id}}/duplicate"
  >
    <mat-icon color="accent">file_copy</mat-icon>
  </a>
  <button
    mat-icon-button
    matTooltip="Disable"
    [matTooltipShowDelay]="showDelay"
  >
    <mat-icon color="accent">flash_off</mat-icon>
  </button>
  <button
    *ngIf="!isArchived"
    mat-icon-button
    matTooltip="Archive"
    [matTooltipShowDelay]="showDelay"
    (click)="archive(id)"
  >
    <mat-icon color="accent">archive</mat-icon>
  </button>
  <button
    *ngIf="isArchived"
    mat-icon-button
    matTooltip="Unarchive"
    [matTooltipShowDelay]="showDelay"
    (click)="unArchive(id)"
  >
    <mat-icon color="accent">unarchive</mat-icon>
  </button>
</div>
