<div class="menu">
  <a
    *ngIf="!isArchived"
    mat-icon-button
    matTooltip="Edit"
    [matTooltipShowDelay]="showDelay"
    routerLink="/monitors/{{id}}/edit"
  >
    <mat-icon class="icon">edit</mat-icon>
  </a>
  <a
    mat-icon-button
    matTooltip="Duplicate"
    [matTooltipShowDelay]="showDelay"
    routerLink="/monitors/{{id}}/duplicate"
  >
    <mat-icon class="icon">file_copy</mat-icon>
  </a>
  <button
    mat-icon-button
    matTooltip="Disable"
    [matTooltipShowDelay]="showDelay"
  >
    <mat-icon class="icon">flash_off</mat-icon>
  </button>
  <button
    *ngIf="!isArchived"
    mat-icon-button
    matTooltip="Archive"
    [matTooltipShowDelay]="showDelay"
    (click)="archive(id)"
  >
    <mat-icon class="icon">archive</mat-icon>
  </button>
  <button
    *ngIf="isArchived"
    mat-icon-button
    matTooltip="Unarchive"
    [matTooltipShowDelay]="showDelay"
    (click)="unArchive(id)"
  >
    <mat-icon class="icon">unarchive</mat-icon>
  </button>
</div>
