<div class="menu">
  <button
    mat-icon-button
    matTooltip="Edit"
    [matTooltipShowDelay]="showDelay"
    class="edit"
  >
    <mat-icon color="accent">edit</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Duplicate"
    [matTooltipShowDelay]="showDelay"
    class="duplicate"
  >
    <mat-icon color="accent">file_copy</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Disable"
    [matTooltipShowDelay]="showDelay"
    class="disable"
  >
    <mat-icon color="accent">flash_off</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Archive"
    [matTooltipShowDelay]="showDelay"
    class="archive"
  >
    <mat-icon color="accent">archive</mat-icon>
  </button>
</div>
