@import 'main';

.email-batch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: major-scale(3);
}

.email-cron-explanation {
  margin-left: major-scale(3);
  padding-bottom: major-scale(2);
  color: gray(8);
}
