<div class="wrapper" [formGroup]="parent">
  <mat-label class="label">Priority*</mat-label>
  <mat-button-toggle-group formControlName="priority">
    <mat-button-toggle value="monitorPriority.Lowest">
      <p>Lowest</p>
    </mat-button-toggle>
    <mat-button-toggle value="monitorPriority.Low">
      <p>Low</p>
    </mat-button-toggle>
    <mat-button-toggle value="monitorPriority.Mid" [checked]="true">
      <p>Mid</p>
    </mat-button-toggle>
    <mat-button-toggle value="monitorPriority.High">
      <p>High</p>
    </mat-button-toggle>
    <mat-button-toggle value="monitorPriority.Highest">
      <p>Highest</p>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
