<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{title}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="monitors">

      <div *ngIf="search">

        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="Filter {{title}} Monitors"
            [(ngModel)]="searchTerm">
          <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button
            aria-label="Clear" (click)="searchTerm=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

      </div>

      <mat-nav-list *ngFor="let monitor of monitors | filter: searchTerm">
        <a mat-list-item routerLink="/monitors/{{monitor.id}}">{{monitor.topic}}</a>
      </mat-nav-list>

    </div>

  </mat-expansion-panel>
</mat-accordion>
