<mat-list-item class="item" *ngIf="monitor">
  <header class="title">
    <a
      class="link"
      href="/monitors/{{monitor.id}}"
      routerLink="/monitors/{{monitor.id}}"
    >
      <h5 class="topic">{{ monitor.topic }}</h5>
      <p class="description">{{ monitor.queryDescription }}</p>
      <p class="expires">
        Expires: {{ monitor.expires | formatDate: 'dd/MM/yyyy' }}
      </p>
    </a>
  </header>

  <div class="section actions">
    <mat-icon
      *ngFor="let item of monitor.actionGroups"
      matTooltip="{{actionNames(item.actions)}}"
      [matTooltipClass]="'tooltip'"
      >{{ icons[item.name] }}</mat-icon
    >
    <mat-icon
      *ngIf="monitor.store"
      matTooltip="Results stored in database"
      [matTooltipClass]="'tooltip'"
      >check</mat-icon
    >
  </div>

  <div class="section categories">
    <ul class="list">
      <li
        class="category"
        *ngFor="let category of monitor.categories.sort(); last as last"
      >
        {{ category.value }}<span *ngIf="!last">,&#160;</span>
      </li>
    </ul>
  </div>

  <div class="section groups">
    <ul class="list">
      <li
        class="group {{groupClass[group.name]}}"
        *ngFor="let group of monitor.groups.sort()"
      >
        <span>{{ group.name }}</span>
      </li>
    </ul>
  </div>

  <div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>file_copy</mat-icon>
        <span>Duplicate</span>
      </button>
      <button mat-menu-item>
        <mat-icon>flash_off</mat-icon>
        <span>Disable</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
</mat-list-item>
