<mat-list-item class="item" *ngIf="monitor">
  <header class="title">
    <a
      class="link"
      href="/monitors/{{monitor.id}}"
      routerLink="/monitors/{{monitor.id}}"
    >
      <h5 class="topic">{{ monitor.topic }}</h5>
      <p class="description">{{ monitor.queryDescription }}</p>
      <p class="expires">
        Expires: {{ monitor.expires | formatDate: 'dd/MM/yyyy' }}
      </p>
    </a>
  </header>

  <div class="section actions">
    <mat-icon
      *ngFor="let item of monitor.actionGroups"
      matTooltip="{{actionNames(item.actions)}}"
      [matTooltipClass]="'tooltip'"
      >{{ icons[item.name] }}</mat-icon
    >
    <mat-icon
      *ngIf="monitor.store"
      matTooltip="Results stored in database"
      [matTooltipClass]="'tooltip'"
      >check</mat-icon
    >
  </div>

  <div class="section categories">
    <ul class="list">
      <li *ngFor="let category of monitor.categories.sort(); last as last">
        {{ category.value }}<span *ngIf="!last">,&#160;</span>
      </li>
    </ul>
  </div>

  <div class="section groups">
    <ul class="list">
      <li
        class="group {{groupClass[group.name]}}"
        *ngFor="let group of monitor.groups.sort()"
      >
        <span>{{ group.name }}</span>
      </li>
    </ul>
  </div>

  <div class="buttons fade-in-out">
    <button color="accent" mat-icon-button matTooltip="Duplicate">
      <mat-icon color="accent">file_copy</mat-icon>
    </button>
    <button color="accent" mat-icon-button matTooltip="Disable">
      <mat-icon color="accent">flash_off</mat-icon>
    </button>
    <button color="accent" mat-icon-button matTooltip="Delete">
      <mat-icon color="accent">delete</mat-icon>
    </button>
  </div>
</mat-list-item>
