// Height of mat-list-item is limited to 48px so we need to override in case of large text
::ng-deep .mat-list .mat-list-item {
  height: initial !important;
}

.item {
  padding: 5px;
}

.link {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    .topic {
      color: #ff4081;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 5px 0;
  width: 30%;
  cursor: pointer;

  .topic {
    color: #333;
    margin: 10px 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.5;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }

  .description {
    color: #888888;
    margin: 0;
    line-height: 1.3;
  }

  .expires {
    color: #aaaaaa;
    margin: 3px 0;
    font-size: 14px;
  }
}

.section {
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.icon {
  margin-right: 5px;
}

.actions {
  color: #888888;
  width: 15%;
  padding-left: 40px;
}

.categories {
  width: 25%;
}

.groups {
  width: 25%;

  .group {
    color: #ffffff;
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    padding: 3px 5px;
    margin: 2px 5px 2px 0;
    border: 1px solid;

    &.ots {
      background-color: #ffd700;
      border-color: #ffd700;
    }

    &.frm {
      background-color: #00449e;
      border-color: #00449e;
    }

    &.infrastructure {
      background-color: #137752;
      border-color: #137752;
    }

    &.fm {
      background-color: #d5008f;
      border-color: #d5008f;
    }

    &.net-sec {
      background-color: #5e2ca5;
      border-color: #5e2ca5;
    }
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  .category {
    color: #888888;
  }
}

.menu {
  width: 5%;
  margin-left: auto;
}

::ng-deep .tooltip {
  height: auto;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-line;
}
