<mat-list-item class="item" *ngIf="monitor">
  <header class="title">
    <a
      class="link"
      href="/monitors/{{monitor.id}}"
      routerLink="/monitors/{{monitor.id}}"
    >
      <h5 class="name">{{ monitor.name }}</h5>
      <p class="description">{{ monitor.description }}</p>
    </a>
  </header>

  <section class="section actions">
    <mat-icon
      *ngFor="let action of (actions | objectKeys)"
      matTooltip="{{actions[action]}}"
      [matTooltipClass]="'tooltip'"
      >{{ icons[action] }}</mat-icon
    >
  </section>

  <section class="section categories">
    <ul class="list">
      <li
        class="category"
        *ngFor="let category of monitor.categories.sort(); last as last"
      >
        {{ category.name }}<span *ngIf="!last">,&#160;</span>
      </li>
    </ul>
  </section>

  <section class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>file_copy</mat-icon>
        <span>Duplicate</span>
      </button>
      <button mat-menu-item>
        <mat-icon>flash_off</mat-icon>
        <span>Disable</span>
      </button>
      <button mat-menu-item (click)="openDeleteDialog()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </section>
</mat-list-item>
