@import 'main';

.title {
  text-transform: capitalize;
}

.content {
  margin-bottom: $spacing-l;
}

.message {
  color: $accent-warn;
  margin-bottom: $spacing-m;
}

.cause {
  color: $grey-6;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacing-none;
}
