<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div class="flex items-center mr4">
        <mat-icon class="mr2 yellow">flash_on</mat-icon>
        <h4 class="di ttu tracked ma0">{{ monitor.topic }}</h4>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-subtitle> {{ monitor.queryDescription }} </mat-card-subtitle>
  <!--
    <div class="w-60 ml3 flex items-center">
      <p class="f5 lh-copy gray mt1">{{ monitor.queryDescription }}</p>
    </div>
  -->
  <mat-card-content>
    <div class="flex items-center">
      <mat-icon
        class="gray mh1"
        *ngFor="let item of monitor.actionGroups"
        matTooltip="{{actionNames(item.actions)}}"
        [matTooltipClass]="'f6 h-auto'"
        >{{ icons[item.name] }}</mat-icon
      >
    </div>
    <div class="flex flex-column">
      <div></div>

      <div class="flex">
        <div class="flex items-center">
          <mat-icon class="green">category</mat-icon>
          <p *ngFor="let category of monitor.categories.sort(); last as last">
            {{ category.value }}<span *ngIf="!last">,&#160;</span>
          </p>
        </div>

        <div class="flex items-center">
          <mat-icon class="blue">group</mat-icon>
          <p *ngFor="let group of monitor.groups.sort(); last as last">
            {{ group.name }}<span *ngIf="!last">,&#160;</span>
          </p>
        </div>
      </div>
    </div>
  </mat-card-content>
  <!-- </div> -->
  <!--
    <div class="w-50">
    <div class="flex flex-column ml4">
      <div class="flex items-center ml3">
        <mat-icon class="green">category</mat-icon>
        <ul class="list">
          <li class="pv1" *ngFor="let category of monitor.categories.sort()">
            {{ category.value }}
          </li>
        </ul>
      </div>

      <mat-divider [inset]="true"></mat-divider>

      <div class="flex items-center ml3">
        <mat-icon class="blue">group</mat-icon>
        <ul class="list">
          <li class="pv1" *ngFor="let group of monitor.groups.sort()">
            {{ group.name }}
          </li>
        </ul>
      </div>
  -->

  <!-- <mat-divider [inset]="true"></mat-divider> -->

  <!--
    <div class="flex items-center ml3">
      <mat-icon class="orange">security</mat-icon>
      <ul class="list">
        <li class="pv1" *ngFor="let action of monitor.actions.sort()">
          {{ action.name }}
        </li>
      </ul>
    </div>
  -->
  <!--
    </div>
    </div>
  -->
  <!-- </div> -->
  <mat-card-actions>
    <div class="ml3 mb2 flex">
      <a
        mat-icon-button
        matTooltip="View Monitor"
        routerLink="/monitors/{{monitor.id}}"
      >
        <mat-icon color="accent">visibility</mat-icon>
      </a>
      <button mat-icon-button matTooltip="Duplicate Monitor">
        <mat-icon color="accent">file_copy</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Disable Monitor">
        <mat-icon color="warn">flash_off</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Delete Monitor">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
