<mat-card class="pt1">
  <div class="flex">
    <div class="w-40 ma0">
      <mat-card-header>
        <div class="flex flex-column">
          <div class="flex items-center">
            <mat-icon class="mr2 yellow">flash_on</mat-icon>
            <h4 class="di ttu tracked">{{ monitor.topic }}</h4>
          </div>
          <p class="f5 lh-copy gray mt1">{{ monitor.queryDescription }}</p>
        </div>
      </mat-card-header>
    </div>
    <div class="w-60 ma0">
      <div class="flex flex-column ml4">
        <div class="flex items-center ml3">
          <mat-icon class="green">category</mat-icon>
          <ul class="list">
            <li class="pv1" *ngFor="let category of monitor.categories.sort()">
              {{ category.value }}
            </li>
          </ul>
        </div>

        <mat-divider [inset]="true"></mat-divider>

        <div class="flex items-center ml3">
          <mat-icon class="blue">group</mat-icon>
          <ul class="list">
            <li class="pv1" *ngFor="let group of monitor.groups.sort()">
              {{ group.name }}
            </li>
          </ul>
        </div>

        <mat-divider [inset]="true"></mat-divider>

        <!--
          <div class="flex items-center ml3">
            <mat-icon class="orange">security</mat-icon>
            <ul class="list">
              <li class="pv1" *ngFor="let action of monitor.actions.sort()">
                {{ action.name }}
              </li>
            </ul>
          </div>
        -->
      </div>
    </div>
  </div>
  <mat-card-actions>
    <div class="ml3 mb2 flex">
      <a
        mat-stroked-button
        class="ttu tracked"
        color="accent"
        routerLink="/monitors/{{monitor.id}}"
      >
        <mat-icon color="accent">visibility</mat-icon>
        view
      </a>
      <div class="ml3">
        <button mat-stroked-button class="ttu tracked" color="warn">
          <mat-icon color="warn">delete</mat-icon>
          delete
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
