<div class="form-fields">
  <form [formGroup]="definitionFormGroup">
    <mat-form-field class="name">
      <mat-label> Name </mat-label>
      <input
        matInput
        placeholder="Please enter a monitor name"
        formControlName="name"
      />
      <mat-error *ngIf="nameMessage"> {{ nameMessage }} </mat-error>
    </mat-form-field>

    <mat-radio-group formControlName="status" class="status">
      <mat-radio-button value="offline" [checked]="true"
        >Offline</mat-radio-button
      >
      <mat-radio-button value="online">Online</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="description">
      <textarea
        class="textarea"
        matInput
        placeholder="Description"
        formControlName="description"
        matTextareaAutosize
        matAutosizeMinRows="1"
        matAutosizeMaxRows="5"
      ></textarea>
      <mat-error *ngIf="descriptionMessage">
        {{ descriptionMessage }}
      </mat-error>
    </mat-form-field>

    <div><button mat-button (click)="validateForm()">Next</button></div>
  </form>
</div>
