<mat-list-item class="headers">
  <div class="section monitor">
    <mat-icon class="yellow icon">flash_on</mat-icon>
    <h4>monitor</h4>
  </div>

  <div class="section actions">
    <mat-icon class="orange icon" matListIcon>security</mat-icon>
    <h4>actions</h4>
  </div>

  <div class="section categories">
    <mat-icon class="green icon">category</mat-icon>
    <h4>categories</h4>
  </div>

  <div class="section groups">
    <mat-icon class="blue icon">group</mat-icon>
    <h4>groups</h4>
  </div>
</mat-list-item>
