<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav
    disableClose
    [opened]="sidenavOptions.value.opened"
    [mode]="sidenavOptions.value.mode"
    [fixedInViewport]="sidenavOptions.value.fixed"
    [fixedTopGap]="sidenavOptions.value.top"
    class="sidenav"
  >
    <div class="title">
      <h3>{{ title }}</h3>
    </div>

    <app-search-input
      class="filter"
      [placeHolder]="placeholders.value.search"
      (searchTermChange)="searchTerm = $event; filterMonitors()"
    ></app-search-input>

    <app-multiple-select
      class="filter"
      name="actionSelect"
      ngDefaultControl
      #actionSelect
      [formControl]="actions"
      [placeHolder]="placeholders.value.actions"
      [options]="actionsList"
      (selectedOptionsChange)="selectedActions = $event; filterMonitors()"
    >
      <mat-icon class="orange">security</mat-icon>
    </app-multiple-select>

    <app-multiple-select
      class="filter"
      name="categorySelect"
      ngDefaultControl
      #categorySelect
      [formControl]="categories"
      [placeHolder]="placeholders.value.categories"
      [options]="categoriesList"
      (selectedOptionsChange)="selectedCategories = $event; filterMonitors()"
    >
      <mat-icon class="green">category</mat-icon>
    </app-multiple-select>

    <app-multiple-select
      class="filter"
      name="groupSelect"
      ngDefaultControl
      #groupSelect
      [formControl]="groups"
      [placeHolder]="placeholders.value.groups"
      [options]="groupsList"
      (selectedOptionsChange)="selectedGroups = $event; filterMonitors()"
    >
      <mat-icon class="blue">group</mat-icon>
    </app-multiple-select>

    <div class="clear-filters">
      <button
        mat-stroked-button
        color="accent"
        (click)="clearFilters()"
        [disabled]="
          !(
            (selectedActions && selectedActions.length) ||
            (selectedCategories && selectedCategories.length) ||
            (selectedGroups && selectedGroups.length)
          )
        "
      >
        Clear Filters
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-list
      *ngIf="filteredMonitors && filteredMonitors.length; else: noMonitors"
      class="monitors-list"
    >
      <app-monitors-list-headers></app-monitors-list-headers>
      <div *ngFor="let monitor of filteredMonitors; last as last">
        <app-monitors-list-item
          [monitor]="monitor"
          (deleteMonitor)="deleteMonitor($event)"
        ></app-monitors-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </div>
    </mat-list>
    <ng-template #noMonitors>
      <div *ngIf="hasFetchedMonitors" class="no-monitors">
        <h4>sorry, no matching monitors</h4>
      </div>
      <div *ngIf="!hasFetchedMonitors" class="no-monitors">
        <h4>loading monitors</h4>
        <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'">
        </mat-progress-spinner>
      </div>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
