@import 'main';

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.action-button {
  margin-left: $space-3;
  display: flex;
  align-items: center;
  padding: minorscale(1) $space-5;
}

.content {
  font-size: $fs-3;
  margin-left: minorscale(1);
  margin-bottom: $space-5;
}
