<h1 mat-dialog-title class="title">{{ data.action }} monitor</h1>
<div mat-dialog-content class="content">
  <p>
    Are you sure you want to {{ data.action }} <b> {{ data.monitor.name }} </b>?
  </p>
</div>
<div mat-dialog-actions class="buttons">
  <hydro-button-raised (click)="cancel()">Cancel</hydro-button-raised>
  <button
    mat-raised-button
    color="accent"
    class="action-button"
    [mat-dialog-close]="true"
  >
    <span class="content">
      {{ data.action }}
    </span>
  </button>
</div>
