@import 'main';

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.action-button {
  margin-left: major-scale(2);
}

.content {
  font-size: font-size(3);
  margin-bottom: major-scale(4);
}
