@import 'main';

.email {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.email-type,
.template,
.recipients {
  width: 100%;
  margin: 10px 0;
}

.email-type,
.recipients {
  margin-top: 20px;
}

.editor {
  height: 400px;
}
