<form [formGroup]="parent" class="flex flex-column">
  <!-- <section class="name">
    <span>
      Name: Email
      <span *ngIf="selectedEmails && selectedEmails.length">
        {{ selectedEmails.join(', ') }}
      </span>
      <span *ngIf="selectedTemplate"> with {{ selectedTemplate }} </span>
      <span *ngIf="selectedEmailType === 'Rate' && sendLimit >= 0">
        <span *ngIf="sendLimit === 0">unlimited</span>
        <span *ngIf="sendLimit > 0">up to {{ sendLimit }}</span> emails per hour
      </span>
      <span
        *ngIf="selectedEmailType === 'Batch' && batchTime && batchTimeOfDay"
      >
        at {{ batchTime }} {{ batchTimeOfDay }} every day
      </span>
      <span
        *ngIf="
          selectedEmailType === 'Alert' &&
          selectedFields &&
          selectedFields.length
        "
        >alerting on {{ selectedFields.join(', ') }}</span
      >
    </span>
  </section> -->

  <div class="flex flex-column w-100" formArrayName="emailAddresses">
    <mat-form-field
      appearance="outline"
      class="w-100 mb2"
      *ngFor="let address of emailAddressesArray.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-label>Email Address*</mat-label>
      <input
        matInput
        placeholder="Email Recipient(s)"
        formControlName="emailAddress"
      />
      <button
        matSuffix
        mat-icon-button
        *ngIf="i > 0"
        (click)="removeEmailAddress.emit(i)"
      >
        <mat-icon color="primary">close</mat-icon>
      </button>
      <mat-hint *ngIf="i < 1" align="end">
        *At least one email address is required
      </mat-hint>
      <mat-error *ngIf="invalidBet365Email(i)">
        {{ validationMessages['emailAddresses']['validBet365Email'] }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="w-100 flex justify-end mb4">
    <app-primary-button
      (click)="addEmailAddress.emit()"
      [disabled]="parent.get('emailAddresses').invalid"
    >
      Add Another Email Address
    </app-primary-button>
  </div>

  <mat-form-field appearance="outline" class="w-100 mb4">
    <mat-label>Email Subject*</mat-label>
    <input
      matInput
      placeholder="Email Subject"
      formControlName="emailSubject"
    />
    <mat-hint align="end">
      *Required
    </mat-hint>
    <mat-error *ngIf="parent.get('emailSubject').hasError('required')">
      {{ validationMessages['emailSubject']['required'] }}
    </mat-error>
  </mat-form-field>

  <div
    *ngIf="actionType === 'emailRate'"
    class="flex items-center justify-between mb4"
  >
    <mat-form-field appearance="outline">
      <mat-label>Email Send Limit</mat-label>

      <input
        type="number"
        min="-1"
        matInput
        placeholder="Email Send Limit"
        formControlName="emailSendLimit"
      />
    </mat-form-field>
    <p class="ml4 pb3 dark-gray">
      The maximum number of emails to send out in any single hour, this resets
      after every hour. Use -1 to specify an unlimited number of emails per hour
    </p>
  </div>

  <div *ngIf="actionType === 'emailBatch'">
    <mat-form-field appearance="outline">
      <mat-label>Send email every day at</mat-label>
      <input matInput type="time" placeholder="Send email every day at" />
    </mat-form-field>
    <mat-button-toggle-group>
      <mat-button-toggle value="AM">AM</mat-button-toggle>
      <mat-button-toggle value="PM">PM</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-form-field
    appearance="outline"
    class="fields"
    *ngIf="actionType === 'emailAlert'"
  >
    <mat-label>Alert on fields*</mat-label>
    <mat-select placeholder="Alert on fields*" multiple>
      <mat-option
        *ngFor="let parameter of availableParameters"
        [value]="parameter"
      >
        {{ parameter }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <h3 class="mid-gray mb2 f5 fw5">Email Text</h3>
    <p class="mb3">
      This text can contain variable data, using the
      <b class="code">${{ '{' }}data{{ '}' }}</b> substitution tag, where
      <b class="code">data</b> can be any esper data field, such as
      <b class="code">${{ '{' }}uname{{ '}' }}</b
      >, <b class="code">${{ '{' }}topic{{ '}' }}</b> or
      <b class="code">${{ '{' }}sip{{ '}' }}</b
      >. To display the esperdata there MUST be a
      <b class="code">${{ '{' }}esperdata{{ '}' }}</b> substitution tag.
    </p>
    <mat-error *ngIf="parent.get('emailText').hasError('required')" class="mb3">
      {{ validationMessages['emailText']['required'] }}
    </mat-error>
    <div class="h7 mb4">
      <quill (contentChange)="onContentChange($event)"> </quill>
    </div>
  </div>
</form>
