@import 'main';

.title {
  text-transform: uppercase;
  letter-spacing: $tracked;
}

.content {
  overflow: hidden;
  padding: 20px;
}

.offline {
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
