<h1 mat-dialog-title class="title">unarchive monitor</h1>
<div mat-dialog-content class="content">
  <p>
    What status would you like to change<b> {{ data.monitor.name }} </b>to?
  </p>

  <mat-radio-group [(ngModel)]="status">
    <mat-radio-button value="offline" [checked]="true" class="offline">
      Offline
    </mat-radio-button>
    <mat-radio-button value="online"> Online </mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions class="buttons">
  <button
    mat-raised-button
    (click)="cancel()"
    class="title"
    color="primary"
    cdkFocusInitial
  >
    cancel
  </button>
  <button
    mat-raised-button
    [mat-dialog-close]="status"
    class="title"
    color="accent"
  >
    change status
  </button>
</div>
