@import 'main';

.email-rate {
  display: flex;
  align-items: center;
  margin-bottom: major-scale(3);
}

.email-rate-explanation {
  margin-left: major-scale(3);
  padding-bottom: major-scale(2);
  color: $grey-8;
}
