@import 'main';

.tag {
  padding: $space-2;
  margin-right: $space-2;
  border: 1px solid;
  border-radius: 3px;
  font-size: $fs-1;
}

.primary {
  color: $primary-darker;
  background-color: $primary-lighter;
  border-color: $primary-lighter;
}

.accent {
  color: $accent-darker;
  background-color: $accent-lighter;
  border-color: $accent-lighter;
}
