@import 'main';

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacing-none;
}

.action-button {
  margin-left: $spacing-m;
  display: flex;
  align-items: center;
  padding: $spacing-xs $spacing-l;
}

.content {
  font-size: $fs-3;
  margin-left: $spacing-xs;
  margin-bottom: $spacing-l;
}
