@import 'main';

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.action-button {
  margin-left: major-scale(2);
  display: flex;
  align-items: center;
  padding: minor-scale(1) major-scale(4);
}

.content {
  font-size: $fs-3;
  margin-left: minor-scale(1);
  margin-bottom: major-scale(4);
}
