<div class="content" *ngIf="dataSource && dataSource.data.length; else: noData">
  <header class="header">
    <h2 class="title">{{ monitor.name }}</h2>
    <div class="info">
      <p class="description">{{ monitor.description }}</p>

      <div class="buttons">
        <app-primary-button (click)="togglePause()" [icon]="pauseIcon">
          {{ paused ? 'run' : 'pause' }}
        </app-primary-button>
        <app-accent-button
          (click)="showEpl()"
          class="button"
          [icon]="'image_search'"
        >
          show epl query
        </app-accent-button>
        <app-accent-link-button
          [routerLink]="editLink"
          [icon]="'edit'"
          class="button"
        >
          edit monitor
        </app-accent-link-button>
      </div>
    </div>
  </header>

  <table mat-table matSort [dataSource]="dataSource">
    <ng-container
      *ngFor="let column of displayedColumns"
      matColumnDef="{{column}}"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column] || '-' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<ng-template #noData>
  <app-loading-spinner [title]="'monitor data'"></app-loading-spinner>
</ng-template>
