@import 'main';

.container {
  margin: major-scale(8);
  padding: major-scale(4);
}

.header-name {
  font-size: font-size(2);
  font-weight: $fw-4;
  margin-left: major-scale(1);
  color: gray(5);
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: major-scale(4);
}

.buttons {
  display: flex;
}

.show-epl {
  margin: 0 major-scale(2);
}

.icon {
  margin-right: major-scale(1);
}

.table-outer-wrapper {
  box-shadow: $box-shadow;
}

.table-inner-wrapper {
  border-top: 3px $primary solid;
  overflow: auto;
}

.table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  padding: major-scale(2);
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;

  &:hover {
    overflow: visible;
    white-space: normal;
    height: auto;
    overflow-wrap: break-word;
  }
}

.mat-row:nth-child(odd) {
  background-color: gray(1);
}

.hidden {
  display: none;
}

.messages {
  display: flex;
  flex-direction: column;
  margin: major-scale(8) auto;
  width: 300px;
}

.details {
  display: flex;
  flex-direction: column;
  color: gray(7);
  margin-bottom: major-scale(3);
}

.new-data {
  animation: new-data 0.5s ease-out;
}

@keyframes new-data {
  0% {
    background-color: none;
  }

  50% {
    background-color: $primary-lighter;
  }

  100% {
    background-color: none;
  }
}
