@import 'main';

.container {
  margin: $spacing-xl;
  padding: $spacing-l;
}

.heading {
  margin-bottom: $spacing-l;
}

.header-name {
  font-size: $fs-s;
  font-weight: $fw-4;
  margin-left: $spacing-s;
  color: $grey-5;
}

.inner-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-l;
}

.buttons {
  margin-left: auto;
  display: flex;

  .button {
    margin-left: $spacing-m;
  }
}

.table-outer-wrapper {
  box-shadow: $box-shadow;
}

.table-inner-wrapper {
  border-top: 2px $primary solid;
  overflow: auto;
}

.table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  padding: $spacing-m;
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;

  &:hover {
    overflow: visible;
    white-space: normal;
    height: auto;
    overflow-wrap: break-word;
  }
}

.mat-row:nth-child(odd) {
  background-color: $grey-1;
}

.hidden {
  display: none;
}

.messages {
  display: flex;
  flex-direction: column;
  margin: $spacing-2xl auto;
  width: 300px;
}

.details {
  display: flex;
  flex-direction: column;
  color: $grey-7;

  .description {
    margin-bottom: $spacing-s;
  }
}

.new-data {
  animation: new-data 0.5s ease-out;
}

@keyframes new-data {
  0% {
    background-color: none;
  }

  50% {
    background-color: $primary-lighter;
  }

  100% {
    background-color: none;
  }
}
