<div class="container" *ngIf="monitor">
  <div class="heading">
    <app-heading>{{ monitor.name }}</app-heading>
  </div>
  <div class="inner-wrapper">
    <div class="details">
      <p>{{ monitor.description }}</p>
      <p *ngIf="dataType">
        You are currently viewing {{ dataType }} data
        <span *ngIf="timeLiveDataReceived">
          received at {{ timeLiveDataReceived | date: 'HH:mm:ss dd/MM/yyyy' }}
        </span>
      </p>
    </div>

    <div class="buttons">
      <app-primary-button
        (click)="togglePause()"
        [icon]="pauseIcon"
        [disabled]="!(liveData && liveData.length)"
      >
        {{ paused ? 'Run' : 'Pause' }}
      </app-primary-button>
      <app-accent-button
        (click)="showEpl()"
        class="button"
        [icon]="'image_search'"
      >
        Show Epl Query
      </app-accent-button>
      <app-accent-button
        (click)="router.navigateByUrl(editLink)"
        [icon]="'edit'"
        class="button"
      >
        Edit Monitor
      </app-accent-button>
    </div>
  </div>

  <div
    class="table-outer-wrapper"
    [ngClass]="{ 'table-outer-wrapper': dataSource && dataSource.data.length }"
  >
    <div
      class="table-inner-wrapper"
      *ngIf="dataSource && dataSource.data.length; else noData"
    >
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        (matSortChange)="sortData($event)"
        class="table"
      >
        <ng-container
          *ngFor="let column of displayedColumns"
          matColumnDef="{{ column }}"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="header-name"
          >
            {{ column }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{
              headersMetadata[column].type === MonitorDataAttributeType.DateTime
                ? (element[column] | date: headersMetadata[column].format)
                : element[column] || '-'
            }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="new-data"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>

    <!--
      if we use ngif here to only show the paginator when there's data, it
      screws the table up, I don't know why, so CSS to the rescue
    -->
    <mat-paginator
      class="paginator"
      #paginator
      [ngClass]="{ hidden: dataSource.data.length === 0 }"
      [length]="dataSource.data.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>

<ng-template #noData>
  <section class="messages">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Messages</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ cachedDataMessage }}</p>
        <p>{{ liveDataMessage }}</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </section>
</ng-template>
