@import 'main';

.container {
  margin: $spacing-xl;
  padding: $spacing-l;
}

.heading {
  margin-bottom: $spacing-l;
}

.inner-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-l;
}

.buttons {
  margin-left: auto;
  display: flex;

  .button {
    margin-left: $spacing-m;
  }
}

.table-outer-wrapper {
  box-shadow: $box-shadow;
}

.table-inner-wrapper {
  border-top: 2px $primary solid;
  max-height: 700px;
  overflow: auto;

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: $grey-2;
  }

  &::-webkit-scrollbar-thumb {
    background: $grey-4;
  }
}

.table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  padding: $spacing-s;
}

.hidden {
  display: none;
}

.messages {
  display: flex;
  flex-direction: column;
  margin: $spacing-2xl auto;
  width: 300px;
}

.details {
  display: flex;
  flex-direction: column;
  color: $grey-7;

  .description {
    margin-bottom: $spacing-s;
  }
}
