@import 'main';

.content {
  margin-bottom: major-scale(2);
  height: 100px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: major-scale(1);
}

.cancel {
  margin-right: major-scale(2);
}
