<mat-card class="card-fit">
  <mat-card-title>Showing results for {{type}} {{value}}
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="geolocationData" class="container search-div" fxLayout="row"
      fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
      <div fxFlex="30%">
        <mat-list>
          <mat-list-item>
            <p>Blocked</p>
            <mat-icon matListIcon>{{
              geolocationData.blocked ? "done" : "clear" }}</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <p>Whitelisted</p>
            <mat-icon matListIcon>{{ geolocationData.whitelisted ? "done" :
              "clear" }}</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <p>Hosting Facility</p>
            <mat-icon matListIcon>{{ geolocationData.hosting ? "done" : "clear"
              }}</mat-icon>
          </mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="70%">
        <mat-list>
          <mat-list-item>
            <p class="geolocation-list">Provider:</p>{{geolocationData.provider}}
          </mat-list-item>
          <mat-list-item>
            <p class="geolocation-list">Location:</p>{{geolocationData.city}},
            {{geolocationData.country}}
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>
