@import 'main';

.toolbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: major-scale(3);
}

.search {
  padding: 0 major-scale(1);
}

.scroll-viewport {
  margin-bottom: major-scale(3);
  height: 700px;

  @include breakpoint(xl) {
    height: 450px;
  }
}

.add-monitor {
  margin-left: major-scale(2);
}

.monitor-details {
  width: 100%;
}

.odd {
  background: $grey-2;
}
