<hydro-page-wide>
  <hydro-headline>Monitors</hydro-headline>

  <div class="toolbar">
    <hydro-view-toggle-status
      [status]="status"
      (toggleStatus)="onToggleStatus($event)"
    ></hydro-view-toggle-status>

    <hydro-search-input
      class="search"
      [(searchTerm)]="searchTerm"
      [placeHolder]="'Search Monitors'"
      (searchTermChange)="filterMonitors()"
    ></hydro-search-input>

    <mat-form-field>
      <mat-label>Monitors Type</mat-label>
      <mat-select
        [(value)]="monitorsType"
        (selectionChange)="onSelectionChange()"
      >
        <mat-option value="standard">Standard</mat-option>
        <mat-option value="system">System</mat-option>
      </mat-select>
    </mat-form-field>

    <hydro-button-raised
      *ngIf="allowsEdit"
      color="accent"
      class="add-monitor"
      (click)="onAddNewMonitor()"
    >
      Add New Monitor
    </hydro-button-raised>
  </div>

  <hydro-list>
    <cdk-virtual-scroll-viewport itemSize="72" class="scroll-viewport">
      <ng-container *cdkVirtualFor="let monitor of filteredMonitors">
        <hydro-list-item>
          <hydro-view-monitors-list-item
            class="monitor-details"
            [monitor]="monitor"
          ></hydro-view-monitors-list-item>
        </hydro-list-item>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </hydro-list>
</hydro-page-wide>
