@import 'main';

.toolbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: $space-4;
}

.search {
  padding: 0 $space-2;
}

.scroll-viewport {
  margin-bottom: $space-4;
  height: 700px;

  @include breakpoint(xl) {
    height: 450px;
  }
}

.add-monitor {
  margin-left: $space-3;
}

.monitor-details {
  width: 100%;
}

.odd {
  background: $grey-2;
}
