@import 'main';

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: major-scale(4);
}

.toolbar > * {
  flex: 1;
}

.filter-categories {
  margin: 0 major-scale(4);
}

.scroll-viewport {
  margin-bottom: major-scale(3);
  height: 700px;

  @include breakpoint(xl) {
    height: 450px;
  }
}

.monitor-details {
  width: 100%;
}
