<hydro-page-wide>
  <hydro-headline>Monitors</hydro-headline>
  <div class="toolbar">
    <hydro-monitors-type-toggle
      [monitorsType]="lastMonitorsType"
      (monitorsTypeChange)="onMonitorsTypeChange($event)"
    ></hydro-monitors-type-toggle>
  </div>

  <!-- <hydro-overview-table
    [monitors]="currentMonitors"
    [allCurrentActions]="allCurrentActions"
    [allCurrentCategories]="allCurrentCategories"
    [canToggleStatus]="canToggleStatus"
    [monitorsType]="lastMonitorsType"
    (refresh)="refresh()"
    (changeMonitorsType)="onMonitorsTypeChange($event)"
  >
  </hydro-overview-table> -->
</hydro-page-wide>
