@import 'main';

.title {
  text-transform: uppercase;
  letter-spacing: $tracked;
}

.header {
  display: flex;
  align-items: center;
  width: $larger;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.name {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.link {
  margin: 0 10px 0 0;
}

.icon {
  margin-right: 5px;
}
