@import 'main';

.container {
  width: 400px;
  margin-top: $spacing-l;
}

.inner-container {
  padding: $spacing-s 0;
}

.error-message {
  background-color: $washed-red;
  border: 1px solid $red;
  border-radius: 2px;
  margin-bottom: $spacing-m;
  padding: $spacing-m;
}

.form {
  display: flex;
  flex-direction: column;

  .visibility {
    cursor: pointer;
  }

  .form-field {
    margin-bottom: $spacing-s;
  }
}

.login-button {
  display: flex;
  justify-content: flex-end;
}

.progress-bar {
  padding: $spacing-s;
}
