@import 'main';

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headline,
.form,
.progress-bar,
.button {
  width: 15%;

  @include breakpoint(xl) {
    width: 20%;
  }

  @include breakpoint(md) {
    width: 30%;
  }
}

.headline {
  margin-bottom: major-scale(4);
}

.subheadline {
  color: $grey-5;
  margin-bottom: major-scale(2);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: major-scale(1);
}

.visibility {
  cursor: pointer;
  color: $grey-5;
}

.button {
  // display: flex;
  // align-items: center;
  // justify-content: flex-end;
}

.button-text {
  text-transform: uppercase;
  font-size: $fs-2;
}
