<div class="flex flex-column items-center pa4">
  <div class="w6">
    <div class="mb4">
      <app-heading class="dark-gray">Login</app-heading>
      <p class="f5 lh-copy mb4 dark-gray">
        Please enter your bet365 credentials
      </p>

      <app-error-message *ngIf="loginErrorMessage">
        {{ loginErrorMessage }}
      </app-error-message>
    </div>

    <form
      [formGroup]="loginForm"
      class="flex flex-column"
      (keyup.enter)="attemptingLogIn = true; login()"
    >
      <mat-form-field appearance="outline" class="mb2">
        <mat-label> Username </mat-label>
        <input
          matInput
          autofocus
          placeholder="Please enter your username"
          type="text"
          formControlName="username"
          (click)="loginErrorMessage = ''"
        />
        <mat-error *ngIf="usernameControl.hasError('required')">
          {{ validationMessages['username'].required }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mb2">
        <mat-label> Password </mat-label>
        <input
          matInput
          placeholder="Please enter your password"
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          (click)="loginErrorMessage = ''"
        />
        <mat-icon
          class="pointer dark-gray"
          matSuffix
          (click)="hidePassword = !hidePassword"
        >
          {{ hidePassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        <mat-error *ngIf="passwordControl.hasError('required')">
          {{ validationMessages['password'].required }}
        </mat-error>
        <mat-error *ngIf="passwordControl.hasError('minlength')">
          {{ validationMessages['password'].minlength }}
        </mat-error>
      </mat-form-field>
    </form>

    <mat-progress-bar
      class="pa2"
      mode="indeterminate"
      *ngIf="attemptingLogIn"
    ></mat-progress-bar>
    <div class="flex justify-end">
      <app-accent-button
        *ngIf="!attemptingLogIn"
        (click)="login()"
        [disabled]="!loginForm.valid"
      >
        Log In
      </app-accent-button>
    </div>
  </div>
</div>
