@import 'main';

.login__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header,
.form,
.progress-bar,
.button {
  width: 15%;

  @include breakpoint(xl) {
    width: 20%;
  }

  @include breakpoint(md) {
    width: 30%;
  }
}

.login-header {
  margin-bottom: major-scale(4);
}

.login-header__headline {
  @include h1;

  margin-bottom: major-scale(2);
}

.login-header__subheadline {
  @include subtitle;

  margin-bottom: major-scale(2);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: major-scale(1);
}

.visibility {
  cursor: pointer;
  color: $grey-5;
}

.button-text {
  text-transform: uppercase;
  font-size: font-size(2);
}
