<div class="login">
  <h2 class="title">{{ title }}</h2>
  <p class="subtitle">{{ subtitle }}</p>

  <div class="error-message" *ngIf="loginErrorMessage">
    <mat-error> {{ loginErrorMessage }} </mat-error>
  </div>

  <form
    [formGroup]="loginForm"
    class="form"
    (keyup.enter)="attemptingLogIn = true; login()"
  >
    <mat-form-field appearance="outline">
      <mat-label> Username </mat-label>
      <input
        matInput
        placeholder="Please enter your username"
        type="text"
        formControlName="username"
        (click)="loginErrorMessage = ''"
      />
      <mat-error *ngIf="usernameControl.hasError('required')">
        {{ validationMessages['username'].required }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Password </mat-label>
      <input
        matInput
        placeholder="Please enter your password"
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        (click)="loginErrorMessage = ''"
      />
      <mat-icon
        class="visibility"
        matSuffix
        (click)="hidePassword = !hidePassword"
      >
        {{ hidePassword ? 'visibility' : 'visibility_off' }}
      </mat-icon>
      <mat-error *ngIf="passwordControl.hasError('required')">
        {{ validationMessages['password'].required }}
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('minlength')">
        {{ validationMessages['password'].minlength }}
      </mat-error>
    </mat-form-field>
  </form>

  <div class="button">
    <mat-spinner
      *ngIf="attemptingLogIn"
      [diameter]="20"
      color="accent"
      class="spinner"
    ></mat-spinner>
    <button
      *ngIf="!attemptingLogIn"
      mat-raised-button
      color="accent"
      (click)="attemptingLogIn = true; login()"
      [disabled]="!loginForm.valid"
    >
      log in
    </button>
  </div>
</div>
