/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  height: 100%;
  width: 300px;
  padding-top: 80px;
}

mat-sidenav::-webkit-scrollbar {
  display: none;
}

.sidenav-title-container {
  text-align: center;
}

.sidenav-title {
  font-weight: 200;
  background-color: whitesmoke;
}
