/* You can add global styles to this file, and also import other style files */
@import 'main';
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/base16-light.css';

html,
body {
  height: 100%;
  background-color: $near-white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mat-raised-button {
  text-transform: uppercase;
  letter-spacing: $tracked;
}
