<mat-sidenav-container>

  <mat-sidenav #drawer fixedInViewport="true" [attr.role]="'navigation'"
    [opened]="true">

    <div class="monitors-title-container">
      <h3 class="monitors-title">Monitors</h3>
    </div>

    <div *ngIf="favouriteMonitors" class="monitors-title-container">
      <h4 class="monitors-title">Favourites</h4>
      <mat-nav-list *ngFor="let monitor of favouriteMonitors">
        <a mat-list-item routerLink="/monitors/{{monitor.id}}">{{monitor.topic}}</a>
      </mat-nav-list>
    </div>

    <div *ngIf="liveMonitors" class="live-monitors-panel">

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Live Monitors
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Filter Monitors"
              [(ngModel)]="searchTerm">
            <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button
              aria-label="Clear" (click)="searchTerm=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-nav-list *ngFor="let monitor of liveMonitors | filter: searchTerm">
            <a mat-list-item routerLink="/monitors/{{monitor.id}}">{{monitor.topic}}</a>
          </mat-nav-list>

        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-monitor></app-monitor>
  </mat-sidenav-content>
</mat-sidenav-container>
