mat-sidenav {
  height: 100%;
  width: 300px;
  padding-top: 80px;
}
mat-sidenav::-webkit-scrollbar {
  display: none;
}

.live-monitors-panel {
  margin-top: 20px;
}

.monitors-title-container {
  text-align: center;
}

.monitors-title {
  font-weight: 200;
}
