@import 'main';

.button {
  width: 100%;
  height: 100%;
  padding: $spacing-m $spacing-m;
  margin: $spacing-xs 0;
}

.outer-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.inner-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: $spacing-s;
}

.name {
  font-size: $fs-m;
  font-weight: $fw-5;
  line-height: $lh-title;
  margin-bottom: $spacing-xs;
}

.online-icon {
  color: $green;
}

.online-name {
  color: $darker-grey;
}

.offline-icon {
  color: $red;
}

.offline-name {
  color: $grey;
  cursor: not-allowed;
}

.description {
  color: $grey;
  font-size: $fs-s;
  font-weight: 400;
  line-height: $lh-copy;
}
