<a
  *ngIf="online"
  class="link"
  href="/monitors/{{id}}"
  [routerLink]="['/monitors/', id, { name: name }]"
>
  <div class="title">
    <h4 class="online-name">
      {{ name }}
      <mat-icon [inline]="true" class="online" matTooltip="online">
        flash_on
      </mat-icon>
    </h4>
  </div>
  <p class="description">{{ description }}</p>
</a>
<span *ngIf="!online">
  <div class="title">
    <h4 class="offline-name">
      {{ name }}
      <mat-icon [inline]="true" class="offline" matTooltip="offline">
        flash_off
      </mat-icon>
    </h4>
  </div>
  <p class="description">{{ description }}</p>
</span>
