@import 'main';

p {
  margin: 0;
}

.link {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    .online-name {
      color: $accent;
    }
  }

  &:visited {
    .online-name {
      color: $primary;
    }
  }
}

.title {
  display: flex;
  align-items: center;
}

.online {
  margin-left: 5px;
  color: $green;
}

.online-name {
  color: $darker-grey;
  margin: $spacing-s 0;
  -webkit-transition: $transition-in-out;
  transition: $transition-in-out;
}

.offline {
  margin-left: 5px;
  color: $red;
}

.offline-name {
  color: $grey;
  margin: $spacing-s 0;
  cursor: not-allowed;
}

.description {
  color: $grey;
  margin-bottom: $spacing-s;
}
