<a
  *ngIf="online"
  class="link"
  href="/monitors/{{id}}"
  [routerLink]="['/monitors/', id, { name: name }]"
>
  <div class="title">
    <h4 class="online-name">{{ name }}</h4>
    <span matTooltip="online" class="online"> &#9679; </span>
  </div>
  <p class="description">{{ description }}</p>
</a>
<span *ngIf="!online">
  <div class="title">
    <h4 class="offline-name">{{ name }}</h4>
    <span matTooltip="offline" class="offline"> &#9679; </span>
  </div>
  <p class="description">{{ description }}</p>
</span>
