@import 'main';

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: major-scale(3);
}

.categories {
  display: flex;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: major-scale(2);
}

.button {
  margin-left: major-scale(2);
}
