<div class="container">
  <div class="heading">
    <app-heading>{{ heading }} Monitor</app-heading>
  </div>

  <form [formGroup]="createMonitorForm" (ngSubmit)="submit()" class="form">
    <div class="form-field">
      <app-create-monitor-form-name
        [parent]="createMonitorForm"
        [validationMessages]="validationMessages['name']"
        [placeholder]="placeholders.name"
        [editForm]="editForm"
        ngDefaultControl
      >
      </app-create-monitor-form-name>
    </div>

    <div class="form-field">
      <app-create-monitor-form-description
        [parent]="createMonitorForm"
        [validationMessages]="validationMessages['description']"
        [placeholder]="placeholders.description"
        ngDefaultControl
      >
      </app-create-monitor-form-description>
    </div>

    <div class="form-field">
      <app-create-monitor-form-status [parent]="createMonitorForm">
      </app-create-monitor-form-status>
    </div>

    <div class="form-field">
      <app-create-monitor-form-type [parent]="createMonitorForm">
      </app-create-monitor-form-type>
    </div>

    <div class="form-field">
      <app-create-monitor-form-priority
        [parent]="createMonitorForm"
      ></app-create-monitor-form-priority>
    </div>

    <div class="form-field">
      <app-create-monitor-form-query
        [parent]="createMonitorForm"
        [validationMessages]="validationMessages['query']"
        [placeholder]="placeholders.query"
      ></app-create-monitor-form-query>
    </div>

    <div class="form-field">
      <app-create-monitor-form-cache-window
        [parent]="createMonitorForm"
      ></app-create-monitor-form-cache-window>
    </div>

    <div class="form-field">
      <app-create-monitor-form-categories
        [parent]="createMonitorForm"
        [loading]="loadingCategories"
        [selectedCategories]="selectedCategories"
        [autocompleteOptions]="autocompleteOptions"
        [filteredCategories]="filteredCategories"
        [maxSelectedCategories]="maxSelectedCategories"
        [validationMessages]="validationMessages['categories']"
        [placeholder]="placeholders.categories"
        (removeCategory)="removeCategory($event)"
        (selectedCategory)="selectedCategory($event)"
      >
      </app-create-monitor-form-categories>
    </div>

    <div class="form-field">
      <app-create-monitor-form-groups
        [parent]="createMonitorForm"
        [loading]="loadingGroups"
        [selectedGroups]="selectedGroups"
        [autocompleteOptions]="autocompleteOptions"
        [filteredGroups]="filteredGroups"
        [placeholder]="placeholders.groups"
        [validationMessages]="validationMessages['groups']"
        (removeGroup)="removeGroup($event)"
        (selectedGroup)="selectedGroup($event)"
      >
      </app-create-monitor-form-groups>
    </div>

    <div class="buttons">
      <app-accent-submit-button [disabled]="!createMonitorForm.valid">
        Save Monitor
      </app-accent-submit-button>
      <app-accent-button
        class="view"
        (click)="submit(true)"
        [disabled]="!canViewMonitor"
      >
        Save Monitor and View
      </app-accent-button>
      <app-warn-button class="cancel" (click)="cancel()">
        Cancel
      </app-warn-button>
    </div>
  </form>
</div>
