<div class="form">
  <h2 class="title">{{ title }}</h2>
  <form [formGroup]="createMonitorForm" (ngSubmit)="submit()">
    <section class="section">
      <app-create-monitor-form-name
        class="name"
        [parent]="createMonitorForm"
        [validationMessages]="validationMessages['name']"
        [placeholder]="placeholders.name"
        [editForm]="editForm"
        ngDefaultControl
      ></app-create-monitor-form-name>
    </section>

    <section class="section">
      <app-create-monitor-form-description
        class="description"
        [parent]="createMonitorForm"
        [validationMessages]="validationMessages['description']"
        [placeholder]="placeholders.description"
        ngDefaultControl
      ></app-create-monitor-form-description>
    </section>

    <div class="status-priority-wrapper">
      <section class="section">
        <app-create-monitor-form-status
          class="status"
          [parent]="createMonitorForm"
        ></app-create-monitor-form-status>
      </section>

      <section class="section">
        <app-create-monitor-form-type
          class="type"
          [parent]="createMonitorForm"
        ></app-create-monitor-form-type>
      </section>

      <section class="section">
        <app-create-monitor-form-priority
          class="priority"
          [parent]="createMonitorForm"
        ></app-create-monitor-form-priority>
      </section>
    </div>

    <section class="section">
      <app-create-monitor-form-query
        class="query"
        [parent]="createMonitorForm"
        [validationMessages]="validationMessages['query']"
        [placeholder]="placeholders.query"
      ></app-create-monitor-form-query>
    </section>

    <section class="section">
      <app-create-monitor-form-cache-window
        class="cache-window"
        (durationChange)="updateCacheWindow($event)"
      ></app-create-monitor-form-cache-window>
    </section>

    <section class="section">
      <app-create-monitor-form-categories
        class="categories"
        [parent]="createMonitorForm"
        [loading]="loadingCategories"
        [selectedCategories]="selectedCategories"
        [autocompleteOptions]="autocompleteOptions"
        [filteredCategories]="filteredCategories"
        [maxSelectedCategories]="maxSelectedCategories"
        [validationMessages]="validationMessages['categories']"
        [placeholder]="placeholders.categories"
        (removeCategory)="removeCategory($event)"
        (selectedCategory)="selectedCategory($event)"
      ></app-create-monitor-form-categories>
    </section>

    <section class="section">
      <app-create-monitor-form-groups
        class="groups"
        [parent]="createMonitorForm"
        [loading]="loadingGroups"
        [selectedGroups]="selectedGroups"
        [autocompleteOptions]="autocompleteOptions"
        [filteredGroups]="filteredGroups"
        [placeholder]="placeholders.groups"
        [validationMessages]="validationMessages['groups']"
        (removeGroup)="removeGroup($event)"
        (selectedGroup)="selectedGroup($event)"
      ></app-create-monitor-form-groups>
    </section>

    <section class="buttons">
      <app-accent-submit-button [disabled]="!createMonitorForm.valid">
        {{ buttonText }}
      </app-accent-submit-button>
      <app-accent-button
        class="view"
        (click)="submit(true)"
        [disabled]="!canViewMonitor"
      >
        {{ buttonText }} and view
      </app-accent-button>
      <app-warn-button class="cancel" (click)="cancel()">
        cancel
      </app-warn-button>
    </section>
  </form>
</div>
