@import 'main';

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: major-scale(3);
}

.categories {
  display: flex;
}

.buttons {
  display: flex;
  margin-bottom: major-scale(2);
}

.middle-button {
  margin: 0 major-scale(2);
}
