<div class="form">
  <h2 class="title">{{ title }}</h2>
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <section class="section">
      <app-create-monitors-form-name
        class="name"
        [parent]="formGroup"
        [validationMessages]="validationMessages['name']"
        [placeholder]="placeholders.name"
        ngDefaultControl
      ></app-create-monitors-form-name>
    </section>

    <section class="section">
      <app-create-monitor-form-description
        class="description"
        [parent]="formGroup"
        [validationMessages]="validationMessages['description']"
        [placeholder]="placeholders.description"
        ngDefaultControl
      ></app-create-monitor-form-description>
    </section>

    <section class="section">
      <app-create-monitor-form-status
        class="status"
        [parent]="formGroup"
        ngDefaultControl
      ></app-create-monitor-form-status>
    </section>

    <section class="section">
      <app-create-monitor-form-query
        class="query"
        [parent]="formGroup"
        [validationMessages]="validationMessages['query']"
        [placeholder]="placeholders.query"
      ></app-create-monitor-form-query>
    </section>

    <section class="section">
      <app-create-monitor-form-categories
        class="categories"
        [parent]="formGroup"
        [loading]="loadingCategories"
        [selectedCategories]="selectedCategories"
        [autocompleteOptions]="autocompleteOptions"
        [filteredCategories]="filteredCategories"
        [maxSelectedCategories]="maxSelectedCategories"
        [validationMessages]="validationMessages['categories']"
        [placeholder]="placeholders.categories"
        (removeCategory)="removeCategory($event)"
        (selectedCategory)="selectedCategory($event)"
      ></app-create-monitor-form-categories>
    </section>

    <section class="section">
      <app-create-monitor-form-groups
        class="groups"
        [parent]="formGroup"
        [loading]="loadingGroups"
        [selectedGroups]="selectedGroups"
        [autocompleteOptions]="autocompleteOptions"
        [filteredGroups]="filteredGroups"
        [placeholder]="placeholders.groups"
        [validationMessages]="validationMessages['groups']"
        (removeGroup)="removeGroup($event)"
        (selectedGroup)="selectedGroup($event)"
      ></app-create-monitor-form-groups>
    </section>

    <!--
      <section class="section">
        <app-create-monitor-form-actions
          class="actions"
          [availableActions]="availableActions"
          (selectedActions)="selectedActions($event)"
        ></app-create-monitor-form-actions>
      </section>
    -->
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!formGroup.valid"
    >
      {{ buttonText }}
    </button>
  </form>
</div>
