<div class="wrapper" [formGroup]="parent">
  <div class="label">
    <mat-label>Cache Window</mat-label>
    <mat-icon
      class="icon"
      matTooltip="{{ tooltip }}"
      [matTooltipPosition]="'right'"
      [matTooltipClass]="'tooltip'"
      >info</mat-icon
    >
  </div>
  <span class="duration-name">{{ durationName }}</span>
  <mat-slider
    class="slider"
    formControlName="cacheWindow"
    [max]="this.cacheWindowService.max"
    [min]="this.cacheWindowService.min"
    (input)="onInputChange($event)"
  ></mat-slider>
</div>
