<mat-toolbar color="primary" class="toolbar">
  <img class="logo" height="40" [src]="logo" alt="logo" />
  <nav class="nav" *ngIf="authService.isLoggedIn">
    <button mat-button [matMenuTriggerFor]="monitors" class="nav-item">
      <span> monitors </span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #monitors="matMenu" class="nav-menu" [overlapTrigger]="false">
      <a mat-menu-item routerLink="/monitors/standard">
        <mat-icon>flash_on</mat-icon>
        <span> Standard Monitors </span>
      </a>
      <a mat-menu-item routerLink="/monitors/archived">
        <mat-icon>archive</mat-icon>
        <span> Archived Monitors </span>
      </a>
      <a mat-menu-item routerLink="/monitors/system">
        <mat-icon>tune</mat-icon>
        <span> System Monitors </span>
      </a>
      <a mat-menu-item routerLink="/monitors/add">
        <mat-icon>add</mat-icon>
        <span> New Monitor </span>
      </a>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="user">
      <mat-icon>account_circle</mat-icon>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #user="matMenu" class="nav-menu" [overlapTrigger]="false">
      <a mat-button (click)="authService.logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span> Log Out {{ authService.userDisplayName }} </span>
      </a>
    </mat-menu>
  </nav>
</mat-toolbar>
