<div>
  <h2 mat-dialog-title>Dictionary Search Help</h2>
  <hr>
  <mat-dialog-content>
      <p>Display all known information about a particular value, where the value can be an IP Address, an IP Range, a Session Token, a User name etc.
        <br>
      The information returned depends on the type of value you are querying. For example querying an IP address will return information about the IP's existence in blocklists or whitelists. Various reporting options will also be available.
      </p>
    </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onClose()" color="primary">Close</button>&nbsp;
  </mat-dialog-actions>
</div>
