<mat-form-field [formGroup]="parent" class="query" appearance="outline">
  <mat-label>EPL Query*</mat-label>
  <textarea
    class="textarea"
    matInput
    placeholder="{{placeholder}}"
    formControlName="query"
    rows="15"
    cols="100"
    matTextareaAutosize
    matAutosizeMinRows="15"
    matAutosizeMaxRows="15"
  ></textarea>
  <mat-hint align="end"> *Required </mat-hint>
  <mat-error *ngIf="parent.get('query').hasError('required')">
    {{ validationMessages['required'] }}
  </mat-error>
</mat-form-field>
