@import 'main';

@import 'main';

.query {
  width: $full-width;
}

.textarea {
  width: $full-width;
  font-family: monospace;
  font-size: 16px;
  height: auto;
  overflow: auto;

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: $light-grey;
  }

  &::-webkit-scrollbar-thumb {
    background: $mid-grey;
  }
}
