@import 'main';

@import 'main';

.query {
  width: 100%;
}

.textarea {
  width: 100%;
  font-family: monospace;
  font-size: $fs-m;
  height: auto;
  overflow: auto;

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: $grey-2;
  }

  &::-webkit-scrollbar-thumb {
    background: $grey-4;
  }
}
