<form [formGroup]="parent" class="query">
  <textarea
    #textarea
    matInput
    formControlName="query"
    placeholder="{{placeholder}}"
    rows="10"
    cols="100"
    matTextareaAutosize
    matAutosizeMinRows="10"
    matAutosizeMaxRows="10"
  ></textarea>
  <mat-error *ngIf="parent.get('query').hasError('required')">
    {{ validationMessages['required'] }}
  </mat-error>
  <div class="button">
    <button mat-raised-button color="accent" (click)="format()" class="format">
      format query
    </button>
  </div>
</form>
