@import 'main';

.form-fields {
  display: flex;
  flex-direction: column;
  width: $wide;
  margin: 120px auto;
}

.name-container {
  display: flex;
  align-items: center;

  .name {
    flex: 0 0 25%;
    margin-right: 20px;
  }

  .status {
    .offline {
      margin-right: 10px;
    }
  }
}

.description {
  display: flex;

  .textarea {
    height: auto;
  }

  .mat-form-field {
    flex: 0 0 50%;
  }
}

.textarea {
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.26);
  }
}

.categories {
  width: $full-width;

  .categories-form-field {
    width: 50%;
  }
}
