<div class="form-fields">
  <form [formGroup]="formGroup">
    <section class="name-container">
      <mat-form-field class="name">
        <mat-label> Name </mat-label>
        <input
          matInput
          placeholder="Please enter a monitor name"
          formControlName="name"
        />
        <mat-error *ngIf="nameControl.hasError('required')">
          {{ validationMessages['name'].required }}
        </mat-error>
        <mat-error *ngIf="nameControl.hasError('pattern')">
          {{ validationMessages['name'].pattern }}
        </mat-error>
      </mat-form-field>

      <mat-radio-group formControlName="status" class="status">
        <mat-radio-button value="offline" [checked]="true" class="offline"
          >Offline</mat-radio-button
        >
        <mat-radio-button value="online">Online</mat-radio-button>
      </mat-radio-group>
    </section>
    <section class="description">
      <mat-form-field>
        <textarea
          class="textarea"
          matInput
          placeholder="Description"
          formControlName="description"
          rows="3"
          matTextareaAutosize
          matAutosizeMinRows="1"
          matAutosizeMaxRows="3"
        ></textarea>
        <mat-error *ngIf="descriptionControl.hasError('required')">
          {{ validationMessages['description'].required }}
        </mat-error>
      </mat-form-field>
    </section>
    <section *ngIf="loadingCategories" class="categories">
      <mat-form-field class="categories-form-field">
        <input placeholder="Select categories..." matInput />
      </mat-form-field>
    </section>
    <section *ngIf="!loadingCategories" class="categories">
      <mat-form-field class="categories-form-field">
        <mat-chip-list #chipList formControlName="categories">
          <mat-chip
            *ngFor="let category of selectedCategories"
            [selectable]="categoriesOptions.selectable"
            [removable]="categoriesOptions.removable"
            (removed)="remove(category)"
          >
            {{ category }}
            <mat-icon matChipRemove *ngIf="categoriesOptions.removable"
              >cancel</mat-icon
            >
          </mat-chip>
          <input
            placeholder="Select categories..."
            #categoryInput
            matInput
            [formControl]="categoriesControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="
              categoriesOptions.separatorKeysCodes
            "
            [matChipInputAddOnBlur]="categoriesOptions.addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
        <mat-autocomplete
          class="autocomplete"
          #auto="matAutocomplete"
          (optionSelected)="selected($event)"
        >
          <mat-option
            *ngFor="let category of (filteredCategories | async)"
            [value]="category"
          >
            {{ category }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </section>
  </form>
</div>
