@import 'main';

.form-fields {
  display: flex;
  flex-direction: column;
  width: $wide;
  margin: 120px auto;

  .description {
    textarea {
      width: 100%;
      height: 50px;
      max-height: 50px;
    }
  }
}

.name-container {
  display: flex;
  align-items: center;

  .name {
    flex: 0 0 25%;
    margin-right: 20px;
  }

  .status {
    .offline {
      margin-right: 10px;
    }
  }
}

.textarea {
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.26);
  }
}
