<hydro-page-wide>
  <hydro-headline>Monitor Feed Types</hydro-headline>
  <div class="search">
    <hydro-search-input
      [(searchTerm)]="searchTerm"
      [placeHolder]="'Search Feed Types...'"
      (searchTermChange)="filterFeedTypes()"
    ></hydro-search-input>
  </div>
  <div class="inner-wrapper">
    <div class="feed-types">
      <mat-action-list>
        <button
          mat-list-item
          *ngFor="let esperDataType of esperDataTypes"
          (click)="showFields(esperDataType)"
        >
          {{ esperDataType }}
        </button>
      </mat-action-list>
    </div>
    <div class="fields-list">
      <mat-list role="list">
        <h3 mat-subheader class="subheader">{{ currentDataType }}</h3>
        <div *ngIf="filteredFields && filteredFields.length; else noFields">
          <mat-list-item
            role="listitem"
            *ngFor="let field of filteredFields"
            class="field-list-item"
          >
            <div class="fields">
              <div class="field-header">
                <h4 mat-line class="field-name">
                  {{ field.name }}
                </h4>
                <p>{{ field.help }}</p>
              </div>

              <div class="fields-optional">
                <p *ngIf="field.type">Type: {{ field.type }}</p>
                <p *ngIf="field.format">Format: {{ field.format }}</p>
              </div>

              <div class="field-details">
                <hydro-tag color="accent">
                  {{ field.javaType }}
                </hydro-tag>
                <hydro-tag color="primary">{{ field.order }}</hydro-tag>
              </div>
            </div>
          </mat-list-item>
        </div>
        <ng-template #noFields>
          There are currently no fields available for this feed type, sozza :(
        </ng-template>
      </mat-list>
    </div>
  </div>
</hydro-page-wide>
