@import 'main';

.toolbar {
  display: flex;
  align-items: center;
  margin: 0 auto;

  .status-toggle {
    margin: 0 10px 0 0;
  }

  .search {
    flex: 0 0 25%;
    margin: 0 20px 0 auto;
  }
}

.new-monitor-button {
  margin: 0 10px 0 20px;
}

.title,
.table {
  max-height: 700px;
  overflow: auto;

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: $off-white;
  }

  &::-webkit-scrollbar-thumb {
    background: $mid-grey;
  }
}

.overview-table {
  margin: 10px auto 40px auto;
  border: 1px solid $light-grey;
  box-shadow: $box-shadow;

  .mat-header-row {
    padding: 10px 0;
  }

  .mat-row {
    padding: 5px;
  }
}

.full-width {
  width: 100%;
}

.menu-icon {
  color: $green;
}

.actions {
  .title {
    margin: 0 10px 0 5px;
  }
}

.categories {
  .title {
    margin: 0 10px 0 5px;
  }
}

.menu,
.actions,
.categories {
  flex: 0 0 20%;
}

.actions,
.menu,
.categories {
  justify-content: center;
}

.paginator {
  border-top: 1px solid $light-grey;
}
