@import 'main';

.toolbar {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-l;

  .status-toggle {
    margin-left: $spacing-l;
  }

  .search {
    flex: 0 0 25%;
    margin: 0 $spacing-l 0 auto;
  }
}

.table-outer-wrapper {
  box-shadow: $box-shadow;
}

.table-inner-wrapper {
  border-top: 2px $primary solid;
  max-height: 700px;
  overflow: auto;

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: $off-white;
  }

  &::-webkit-scrollbar-thumb {
    background: $mid-grey;
  }
}

.mat-header-row {
  padding: $spacing-xs 0;
}

.mat-row {
  border-bottom: none;
}

.mat-row:nth-child(odd) {
  background-color: $near-white;
}

.mat-monitor-cell {
  padding: 0;
}

.menu-icon {
  color: $green;
}

.header-name {
  font-size: $fs-m;
  font-weight: $fw-5;
  margin-left: $spacing-s;
}

.monitor-cell {
  width: 100%;
  height: 100%;
}

.menu,
.actions,
.categories {
  flex: 0 0 20%;
}

.actions,
.menu,
.categories {
  justify-content: center;
}

.paginator {
  border-top: 1px solid $light-grey;
}

.online {
  color: $green;
}

.offline {
  color: $red;
}

.all-monitors {
  color: $yellow;
}

.online,
.offline,
.all-monitors {
  margin-left: $spacing-xs;
}

.primary {
  color: $primary;
}

.button-toggle {
  &:disabled {
    cursor: not-allowed;
  }
}

.button-text {
  font-size: $fs-m;
  padding: $spacing-xs $spacing-s;
}
