@import 'main';

.title {
  text-transform: capitalize;
}

.content {
  margin-bottom: $spacing-l;
}

.error {
  color: $warn;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacing-none;
}
