@import 'main';

.title {
  text-transform: capitalize;
}

.content {
  margin-bottom: major-scale(4);
}

.error {
  color: $accent-warn;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}
