@import 'main';

.monitor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header {
  width: 30%;
}

.name {
  font-size: $fs-4;
  font-weight: $fw-5;
  color: $grey-8;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.status {
  width: 7ch;
  font-size: $fs-3;
  text-transform: uppercase;
  letter-spacing: $ls-tracked;
  margin-left: $space-5;
}

.online {
  color: $accent-green;
}

.offline {
  color: $accent-red;
}

.epl-query {
  cursor: help;
  margin-left: $space-5;
}

.epl-query-tooltip {
  // I had to put this in styles.scss for it to take effect
  // https://github.com/angular/material2/issues/3927
}

.menu {
  margin-left: auto;
}
