<div class="monitor">
  <div class="header">
    <h3 class="name">
      {{ monitor.name }}
      <span class="status" [ngClass]="monitor.status">•</span>
    </h3>
    <p class="description" matTooltip="{{ monitor.description }}">
      {{ monitor.description }}
    </p>
  </div>

  <button
    mat-stroked-button
    [disableRipple]="true"
    matTooltip="{{ monitor.query }}"
    [matTooltipPosition]="'right'"
    [matTooltipClass]="'epl-query-tooltip'"
    class="epl-query"
  >
    View EPL Query
  </button>

  <hydro-view-monitor-details-menu
    class="menu"
    [monitor]="monitor"
  ></hydro-view-monitor-details-menu>
</div>
