@import 'main';

.monitor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $space-3 $space-5;
}

.header {
  width: 30%;
  cursor: pointer;

  .name {
    display: flex;
    align-items: center;
    font-size: $fs-3;
    font-weight: $fw-4;
    color: $grey-8;
    margin-bottom: $space-2;
  }

  &:hover {
    .name {
      text-decoration: underline;
      text-decoration-style: wavy;
      text-decoration-color: $accent;
    }
  }
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.status {
  font-size: $fs-5;
  margin-left: $space-2;
}

.online {
  color: $accent-green;
}

.offline {
  color: $accent-red;
}

.archived {
  color: $grey-4;
}

.epl-query {
  cursor: help;
  margin-left: $space-5;
}

.epl-query-tooltip {
  // I had to put this in styles.scss for it to take effect
  // https://github.com/angular/material2/issues/3927
}

.menu {
  margin-left: auto;
}
